In [1]:
import pandas as pd

In [2]:
tickers = pd.read_csv('ticker_list_2.csv')
tickernames = tickers['name']
biotech_tickers = tickernames.to_list()

In [3]:
import random
import string

def random_string(length):
    x = ''.join(random.choice(string.ascii_lowercase + string.digits) for _ in range(length))
    return x

random_string(13)

'ujyuthpou03xl'

In [4]:
import requests

In [5]:
for ticker in biotech_tickers:
    query = {'s': random_string(13), 't': ticker}
    res = requests.get('https://www.macrotrends.net/assets/php/stock_data_download.php', params=query)
    decoded = res.content.decode('utf-8')
    with open(f'tickers/{ticker}.csv', 'w') as f:
        f.write(decoded)
        f.close()

## Getting data for the same time period

At this point, we have CSV files for each stock saved as ticker.csv in the `tickers` folder in this directory.

### Remove the download message

The real data starts at the CSV column headings, with `date`, so we can remove everything before that

In [7]:
for ticker in biotech_tickers:
    file_path = f'tickers/{ticker}.csv'
    with open(file_path, 'r+') as f:
        content = f.read()
        date_index = content.index('date')
        cropped = content[date_index:]
        f.seek(0)
        f.write(cropped)
        f.close()

## Reduce data to just the opening prices

In [8]:
for ticker in biotech_tickers:
    file_path = f'tickers/{ticker}.csv'
    df = pd.read_csv(file_path)
    try:
        df = df.drop(['high', 'low', 'close', 'volume'], axis=1)
        df.to_csv(file_path)
    except Exception as e:
        print(f'Error for {ticker}: {e}')

## Reducing data to a timeframe

In [9]:
for year in range(2013, 2023, 1):
    count = 0
    for ticker in biotech_tickers:
        file_path = f'tickers/{ticker}.csv'
        df = pd.read_csv(file_path)
        earliest_date = df['date'][0]
        earliest_date_year = int(earliest_date[:4])
        if earliest_date_year <= year:
            count += 1

    print(f'{count} stocks have data starting in a year before {year}')

84 stocks have data starting in a year before 2013
85 stocks have data starting in a year before 2014
86 stocks have data starting in a year before 2015
87 stocks have data starting in a year before 2016
90 stocks have data starting in a year before 2017
92 stocks have data starting in a year before 2018
97 stocks have data starting in a year before 2019
97 stocks have data starting in a year before 2020
99 stocks have data starting in a year before 2021
100 stocks have data starting in a year before 2022

This year, we're going with 2015 onwards

In [10]:
year = 2015

In [12]:
tickers_2015 = []

for ticker in biotech_tickers:
    df = pd.read_csv(f'tickers/{ticker}.csv')
    earliest_date = df['date'][0]
    earliest_date_year = int(earliest_date[:4])
    if earliest_date_year <= year:
        df.to_csv(f'tickers_2015/{ticker}.csv')
        tickers_2015.append(ticker)

Now, we need to remove values before 1 Jan 2015

In [13]:
def date_str_valid(date_str):
    try:
        year = int(str(date_str)[:4])
    except:
        return False
    if year >= 2015:
        return True
    return False

In [14]:
df = df[df.apply(lambda x: date_str_valid(x['date']), axis = 1)]
df

      Unnamed: 0        date   open
4826        4826  2015-01-02  75.84
4827        4827  2015-01-05  75.36
4828        4828  2015-01-06  74.89
4829        4829  2015-01-07  73.87
4830        4830  2015-01-08  74.87
...          ...         ...    ...
6778        6778  2022-09-08  90.01
6779        6779  2022-09-09  91.80
6780        6780  2022-09-12  93.23
6781        6781  2022-09-13  94.00
6782        6782  2022-09-14  92.55

[1956 rows x 3 columns]

In [15]:
for ticker in tickers_2015:
    original_file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(original_file_path)
    df = df.dropna()
    df = df[df.apply(lambda x: date_str_valid(x['date']), axis = 1)]
    df.to_csv(original_file_path)

Now we need to remove data from 2020 or later

In [16]:
def date_str_before_2020(date_str):
    try:
        year = int(str(date_str)[:4])
    except:
        return False
    if year < 2020:
        return True
    return False

In [17]:
for ticker in tickers_2015:
    original_file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(original_file_path)
    df = df.dropna()
    df = df[df.apply(lambda x: date_str_before_2020(x['date']), axis = 1)]
    df.to_csv(original_file_path)

We now have a bunch of junk which we should remove from each of the files

In [18]:
for ticker in tickers_2015:
    file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(file_path)
    df = df[['date', 'open']]
    df.to_csv(file_path)

## Preparing Data

Now we need to merge these all into one dataframe / CSV file. This should have the date as the column and opening price for that stock as the row

First, we need to change the files so that each have them have the date as the column and opening price as the value

In [19]:
for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    df = df[['date', 'open']]
    df = df.transpose()
    df.columns = df.iloc[0]
    df = df.drop(['date'])
    df.insert(loc=0, column='', value=ticker)
    df.to_csv(path, index=False)

Now, we need to merge all the dataframes into one mega DF

In [20]:
dfs = []

for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    dfs.append(df)

big_boi = pd.concat(dfs, axis=0)
big_boi

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,UNH,90.2065,89.1400,88.7223,87.9491,90.2687,92.8016,92.2772,92.3750,90.3042,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
0,JNJ,85.9042,85.4381,85.3236,84.9720,86.7301,87.0899,86.0023,86.2231,84.9311,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
0,LLY,59.1298,59.0959,59.2569,59.3501,59.3247,59.3501,59.5112,59.3840,58.2823,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
0,PFE,22.3480,22.4052,22.3480,22.6696,23.1127,23.2128,23.3486,23.4987,23.0198,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
0,ABBV,47.2114,47.1251,47.2114,46.4560,49.0389,47.9813,47.7294,47.6489,45.4013,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,JAZZ,165.9600,162.2000,160.5300,160.6100,164.9500,163.4700,162.0300,161.7300,160.3100,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,14.5800,14.7500,15.0300,14.4900,15.0800,14.5600,13.4100,12.0100,11.5800,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,NVCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.2500,82.6500,81.8200,85.3500,87.3400,88.7500,89.6400,87.5500,87.4700,84.9300
0,RDY,47.8324,46.9533,45.7811,45.4975,46.1498,47.8135,48.5981,48.9195,48.4847,...,39.2188,39.8740,39.7567,39.6002,40.0990,39.8251,39.6980,39.9719,39.7273,39.5904
0,DVA,75.8400,75.3600,74.8900,73.8700,74.8700,76.1400,75.4500,74.8700,73.7400,...,72.4000,71.9000,73.5900,73.8500,73.7000,74.3700,75.0300,74.8700,74.7400,73.9100

In [21]:
big_boi.reset_index()
big_boi

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,UNH,90.2065,89.1400,88.7223,87.9491,90.2687,92.8016,92.2772,92.3750,90.3042,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
0,JNJ,85.9042,85.4381,85.3236,84.9720,86.7301,87.0899,86.0023,86.2231,84.9311,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
0,LLY,59.1298,59.0959,59.2569,59.3501,59.3247,59.3501,59.5112,59.3840,58.2823,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
0,PFE,22.3480,22.4052,22.3480,22.6696,23.1127,23.2128,23.3486,23.4987,23.0198,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
0,ABBV,47.2114,47.1251,47.2114,46.4560,49.0389,47.9813,47.7294,47.6489,45.4013,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,JAZZ,165.9600,162.2000,160.5300,160.6100,164.9500,163.4700,162.0300,161.7300,160.3100,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,14.5800,14.7500,15.0300,14.4900,15.0800,14.5600,13.4100,12.0100,11.5800,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,NVCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.2500,82.6500,81.8200,85.3500,87.3400,88.7500,89.6400,87.5500,87.4700,84.9300
0,RDY,47.8324,46.9533,45.7811,45.4975,46.1498,47.8135,48.5981,48.9195,48.4847,...,39.2188,39.8740,39.7567,39.6002,40.0990,39.8251,39.6980,39.9719,39.7273,39.5904
0,DVA,75.8400,75.3600,74.8900,73.8700,74.8700,76.1400,75.4500,74.8700,73.7400,...,72.4000,71.9000,73.5900,73.8500,73.7000,74.3700,75.0300,74.8700,74.7400,73.9100

Seems like some rows are missing in `big_boi`

In [22]:
import numpy as np
columns_all = np.array([column for column in [columns for columns in [df.columns for df in dfs]]])
first_dates = [i[1] for i in columns_all]
(first_dates.sort())
first_dates[-1]

/var/folders/8m/xxtd2bpx07b2133k5m87vfq80000gn/T/ipykernel_3472/1148072085.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  columns_all = np.array([column for column in [columns for columns in [df.columns for df in dfs]]])

'2015-10-02'

The latest first date is  '2015-12-22'. This means we will have to reduce all of our data so that it starts on the 22nd of December 2015.

In [23]:
dates_to_remove = []
for i in range(1, 12, 1):
    month_code = ''
    if i <= 9:
        month_code = f'0{i}'
    else:
        month_code = str(i)
    for k in range(1, 32, 1):
        if k <= 9:
            date = f'2015-{month_code}-0{k}'
        else:
            date = f'2015-{month_code}-{k}'
        dates_to_remove.append(date)

for j in range(1, 22, 1):
    if j <= 9:
        date = f'2015-12-0{j}'
    else:
        date = f'2015-12-{j}'
    dates_to_remove.append(date)

In [24]:
'2015-10-06' in dates_to_remove

True

In [25]:
dfs = []

for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    df = df.drop(dates_to_remove, axis=1, errors='ignore')
    dfs.append(df)

big_boi = pd.concat(dfs, axis=0)
big_boi

,Unnamed: 0,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,UNH,106.7421,106.4802,107.0491,106.8053,107.3562,108.4038,107.1485,105.5860,105.4145,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
0,JNJ,85.8198,86.8303,86.8387,86.8893,87.0240,87.6724,87.0493,85.6514,84.6998,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
0,LLY,75.0504,75.1287,74.7981,74.4501,74.6763,75.2070,74.5719,72.5537,72.1187,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
0,PFE,24.0945,24.0650,24.0059,24.0798,24.0576,24.1832,23.9837,23.5258,23.7695,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
0,ABBV,42.0324,43.0286,43.4003,43.3185,43.8761,44.1586,44.2329,43.1624,43.1104,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,NVCR,27.5000,27.1200,26.3300,25.9100,24.9600,24.0100,22.8700,22.0000,22.7900,...,82.2500,82.6500,81.8200,85.3500,87.3400,88.7500,89.6400,87.5500,87.4700,84.9300
0,RDY,43.0524,43.2615,42.8908,44.3259,44.0123,44.3544,44.1548,43.4705,43.5466,...,39.2188,39.8740,39.7567,39.6002,40.0990,39.8251,39.6980,39.9719,39.7273,39.5904
0,DVA,69.3700,69.8100,70.1400,70.0500,70.4300,70.5100,69.8200,68.8100,68.7200,...,72.4000,71.9000,73.5900,73.8500,73.7000,74.3700,75.0300,74.8700,74.7400,73.9100

Now for some cleaning

In [26]:
big_boi = big_boi.reset_index(drop=True)

In [27]:
big_boi.rename(columns={'Unnamed: 0': 'ticker'}, inplace=True)
big_boi.head()

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,UNH,106.7421,106.4802,107.0491,106.8053,107.3562,108.4038,107.1485,105.5860,105.4145,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
1,JNJ,85.8198,86.8303,86.8387,86.8893,87.0240,87.6724,87.0493,85.6514,84.6998,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
2,LLY,75.0504,75.1287,74.7981,74.4501,74.6763,75.2070,74.5719,72.5537,72.1187,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
3,PFE,24.0945,24.0650,24.0059,24.0798,24.0576,24.1832,23.9837,23.5258,23.7695,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
4,ABBV,42.0324,43.0286,43.4003,43.3185,43.8761,44.1586,44.2329,43.1624,43.1104,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837

Seems like some values are still missing... because the stock market be like that. Let's nuke them

In [28]:
big_boi = big_boi.dropna()
big_boi

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,UNH,106.7421,106.4802,107.0491,106.8053,107.3562,108.4038,107.1485,105.5860,105.4145,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
1,JNJ,85.8198,86.8303,86.8387,86.8893,87.0240,87.6724,87.0493,85.6514,84.6998,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
2,LLY,75.0504,75.1287,74.7981,74.4501,74.6763,75.2070,74.5719,72.5537,72.1187,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
3,PFE,24.0945,24.0650,24.0059,24.0798,24.0576,24.1832,23.9837,23.5258,23.7695,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
4,ABBV,42.0324,43.0286,43.4003,43.3185,43.8761,44.1586,44.2329,43.1624,43.1104,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
82,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
83,NVCR,27.5000,27.1200,26.3300,25.9100,24.9600,24.0100,22.8700,22.0000,22.7900,...,82.2500,82.6500,81.8200,85.3500,87.3400,88.7500,89.6400,87.5500,87.4700,84.9300
84,RDY,43.0524,43.2615,42.8908,44.3259,44.0123,44.3544,44.1548,43.4705,43.5466,...,39.2188,39.8740,39.7567,39.6002,40.0990,39.8251,39.6980,39.9719,39.7273,39.5904
85,DVA,69.3700,69.8100,70.1400,70.0500,70.4300,70.5100,69.8200,68.8100,68.7200,...,72.4000,71.9000,73.5900,73.8500,73.7000,74.3700,75.0300,74.8700,74.7400,73.9100

Now all that's left is we need to remove the explicit date headings and instead label the dates as relative to the first date.

In [29]:
num_days = len(big_boi.iloc[0]) - 1
column_names = ['ticker']
for i in range(num_days):
    day_id = f'day_{i}'
    column_names.append(day_id)
column_names

['ticker',
 'day_0',
 'day_1',
 'day_2',
 'day_3',
 'day_4',
 'day_5',
 'day_6',
 'day_7',
 'day_8',
 'day_9',
 'day_10',
 'day_11',
 'day_12',
 'day_13',
 'day_14',
 'day_15',
 'day_16',
 'day_17',
 'day_18',
 'day_19',
 'day_20',
 'day_21',
 'day_22',
 'day_23',
 'day_24',
 'day_25',
 'day_26',
 'day_27',
 'day_28',
 'day_29',
 'day_30',
 'day_31',
 'day_32',
 'day_33',
 'day_34',
 'day_35',
 'day_36',
 'day_37',
 'day_38',
 'day_39',
 'day_40',
 'day_41',
 'day_42',
 'day_43',
 'day_44',
 'day_45',
 'day_46',
 'day_47',
 'day_48',
 'day_49',
 'day_50',
 'day_51',
 'day_52',
 'day_53',
 'day_54',
 'day_55',
 'day_56',
 'day_57',
 'day_58',
 'day_59',
 'day_60',
 'day_61',
 'day_62',
 'day_63',
 'day_64',
 'day_65',
 'day_66',
 'day_67',
 'day_68',
 'day_69',
 'day_70',
 'day_71',
 'day_72',
 'day_73',
 'day_74',
 'day_75',
 'day_76',
 'day_77',
 'day_78',
 'day_79',
 'day_80',
 'day_81',
 'day_82',
 'day_83',
 'day_84',
 'day_85',
 'day_86',
 'day_87',
 'day_88',
 'day_89',
 'day_90',
 'day_91',
 'day_92',
 'day_93',
 'day_94',
 'day_95',
 'day_96',
 'day_97',
 'day_98',
 'day_99',
 'day_100',
 'day_101',
 'day_102',
 'day_103',
 'day_104',
 'day_105',
 'day_106',
 'day_107',
 'day_108',
 'day_109',
 'day_110',
 'day_111',
 'day_112',
 'day_113',
 'day_114',
 'day_115',
 'day_116',
 'day_117',
 'day_118',
 'day_119',
 'day_120',
 'day_121',
 'day_122',
 'day_123',
 'day_124',
 'day_125',
 'day_126',
 'day_127',
 'day_128',
 'day_129',
 'day_130',
 'day_131',
 'day_132',
 'day_133',
 'day_134',
 'day_135',
 'day_136',
 'day_137',
 'day_138',
 'day_139',
 'day_140',
 'day_141',
 'day_142',
 'day_143',
 'day_144',
 'day_145',
 'day_146',
 'day_147',
 'day_148',
 'day_149',
 'day_150',
 'day_151',
 'day_152',
 'day_153',
 'day_154',
 'day_155',
 'day_156',
 'day_157',
 'day_158',
 'day_159',
 'day_160',
 'day_161',
 'day_162',
 'day_163',
 'day_164',
 'day_165',
 'day_166',
 'day_167',
 'day_168',
 'day_169',
 'day_170',
 'day_171',
 'day_172',
 'day_173',
 'day_174',
 'day_175',
 'day_176',
 'day_177',
 'day_178',
 'day_179',
 'day_180',
 'day_181',
 'day_182',
 'day_183',
 'day_184',
 'day_185',
 'day_186',
 'day_187',
 'day_188',
 'day_189',
 'day_190',
 'day_191',
 'day_192',
 'day_193',
 'day_194',
 'day_195',
 'day_196',
 'day_197',
 'day_198',
 'day_199',
 'day_200',
 'day_201',
 'day_202',
 'day_203',
 'day_204',
 'day_205',
 'day_206',
 'day_207',
 'day_208',
 'day_209',
 'day_210',
 'day_211',
 'day_212',
 'day_213',
 'day_214',
 'day_215',
 'day_216',
 'day_217',
 'day_218',
 'day_219',
 'day_220',
 'day_221',
 'day_222',
 'day_223',
 'day_224',
 'day_225',
 'day_226',
 'day_227',
 'day_228',
 'day_229',
 'day_230',
 'day_231',
 'day_232',
 'day_233',
 'day_234',
 'day_235',
 'day_236',
 'day_237',
 'day_238',
 'day_239',
 'day_240',
 'day_241',
 'day_242',
 'day_243',
 'day_244',
 'day_245',
 'day_246',
 'day_247',
 'day_248',
 'day_249',
 'day_250',
 'day_251',
 'day_252',
 'day_253',
 'day_254',
 'day_255',
 'day_256',
 'day_257',
 'day_258',
 'day_259',
 'day_260',
 'day_261',
 'day_262',
 'day_263',
 'day_264',
 'day_265',
 'day_266',
 'day_267',
 'day_268',
 'day_269',
 'day_270',
 'day_271',
 'day_272',
 'day_273',
 'day_274',
 'day_275',
 'day_276',
 'day_277',
 'day_278',
 'day_279',
 'day_280',
 'day_281',
 'day_282',
 'day_283',
 'day_284',
 'day_285',
 'day_286',
 'day_287',
 'day_288',
 'day_289',
 'day_290',
 'day_291',
 'day_292',
 'day_293',
 'day_294',
 'day_295',
 'day_296',
 'day_297',
 'day_298',
 'day_299',
 'day_300',
 'day_301',
 'day_302',
 'day_303',
 'day_304',
 'day_305',
 'day_306',
 'day_307',
 'day_308',
 'day_309',
 'day_310',
 'day_311',
 'day_312',
 'day_313',
 'day_314',
 'day_315',
 'day_316',
 'day_317',
 'day_318',
 'day_319',
 'day_320',
 'day_321',
 'day_322',
 'day_323',
 'day_324',
 'day_325',
 'day_326',
 'day_327',
 'day_328',
 'day_329',
 'day_330',
 'day_331',
 'day_332',
 'day_333',
 'day_334',
 'day_335',
 'day_336',
 'day_337',
 'day_338',
 'day_339',
 'day_340',
 'day_341',
 'day_342',
 'day_343',
 'day_344',
 'day_345',
 'day_346',
 'day_347',
 'day_348',
 'day_349',
 'day_350',
 'day_351',
 'day_352',
 'day_353',
 'day_354',
 'day_355',
 'day_356',
 'day_357',
 'day_358',
 'day_359',
 'day_360',
 'day_361',
 'day_362',
 'day_363',
 'day_364',
 'day_365',
 'day_366',
 'day_367',
 'day_368',
 'day_369',
 'day_370',
 'day_371',
 'day_372',
 'day_373',
 'day_374',
 'day_375',
 'day_376',
 'day_377',
 'day_378',
 'day_379',
 'day_380',
 'day_381',
 'day_382',
 'day_383',
 'day_384',
 'day_385',
 'day_386',
 'day_387',
 'day_388',
 'day_389',
 'day_390',
 'day_391',
 'day_392',
 'day_393',
 'day_394',
 'day_395',
 'day_396',
 'day_397',
 'day_398',
 'day_399',
 'day_400',
 'day_401',
 'day_402',
 'day_403',
 'day_404',
 'day_405',
 'day_406',
 'day_407',
 'day_408',
 'day_409',
 'day_410',
 'day_411',
 'day_412',
 'day_413',
 'day_414',
 'day_415',
 'day_416',
 'day_417',
 'day_418',
 'day_419',
 'day_420',
 'day_421',
 'day_422',
 'day_423',
 'day_424',
 'day_425',
 'day_426',
 'day_427',
 'day_428',
 'day_429',
 'day_430',
 'day_431',
 'day_432',
 'day_433',
 'day_434',
 'day_435',
 'day_436',
 'day_437',
 'day_438',
 'day_439',
 'day_440',
 'day_441',
 'day_442',
 'day_443',
 'day_444',
 'day_445',
 'day_446',
 'day_447',
 'day_448',
 'day_449',
 'day_450',
 'day_451',
 'day_452',
 'day_453',
 'day_454',
 'day_455',
 'day_456',
 'day_457',
 'day_458',
 'day_459',
 'day_460',
 'day_461',
 'day_462',
 'day_463',
 'day_464',
 'day_465',
 'day_466',
 'day_467',
 'day_468',
 'day_469',
 'day_470',
 'day_471',
 'day_472',
 'day_473',
 'day_474',
 'day_475',
 'day_476',
 'day_477',
 'day_478',
 'day_479',
 'day_480',
 'day_481',
 'day_482',
 'day_483',
 'day_484',
 'day_485',
 'day_486',
 'day_487',
 'day_488',
 'day_489',
 'day_490',
 'day_491',
 'day_492',
 'day_493',
 'day_494',
 'day_495',
 'day_496',
 'day_497',
 'day_498',
 'day_499',
 'day_500',
 'day_501',
 'day_502',
 'day_503',
 'day_504',
 'day_505',
 'day_506',
 'day_507',
 'day_508',
 'day_509',
 'day_510',
 'day_511',
 'day_512',
 'day_513',
 'day_514',
 'day_515',
 'day_516',
 'day_517',
 'day_518',
 'day_519',
 'day_520',
 'day_521',
 'day_522',
 'day_523',
 'day_524',
 'day_525',
 'day_526',
 'day_527',
 'day_528',
 'day_529',
 'day_530',
 'day_531',
 'day_532',
 'day_533',
 'day_534',
 'day_535',
 'day_536',
 'day_537',
 'day_538',
 'day_539',
 'day_540',
 'day_541',
 'day_542',
 'day_543',
 'day_544',
 'day_545',
 'day_546',
 'day_547',
 'day_548',
 'day_549',
 'day_550',
 'day_551',
 'day_552',
 'day_553',
 'day_554',
 'day_555',
 'day_556',
 'day_557',
 'day_558',
 'day_559',
 'day_560',
 'day_561',
 'day_562',
 'day_563',
 'day_564',
 'day_565',
 'day_566',
 'day_567',
 'day_568',
 'day_569',
 'day_570',
 'day_571',
 'day_572',
 'day_573',
 'day_574',
 'day_575',
 'day_576',
 'day_577',
 'day_578',
 'day_579',
 'day_580',
 'day_581',
 'day_582',
 'day_583',
 'day_584',
 'day_585',
 'day_586',
 'day_587',
 'day_588',
 'day_589',
 'day_590',
 'day_591',
 'day_592',
 'day_593',
 'day_594',
 'day_595',
 'day_596',
 'day_597',
 'day_598',
 'day_599',
 'day_600',
 'day_601',
 'day_602',
 'day_603',
 'day_604',
 'day_605',
 'day_606',
 'day_607',
 'day_608',
 'day_609',
 'day_610',
 'day_611',
 'day_612',
 'day_613',
 'day_614',
 'day_615',
 'day_616',
 'day_617',
 'day_618',
 'day_619',
 'day_620',
 'day_621',
 'day_622',
 'day_623',
 'day_624',
 'day_625',
 'day_626',
 'day_627',
 'day_628',
 'day_629',
 'day_630',
 'day_631',
 'day_632',
 'day_633',
 'day_634',
 'day_635',
 'day_636',
 'day_637',
 'day_638',
 'day_639',
 'day_640',
 'day_641',
 'day_642',
 'day_643',
 'day_644',
 'day_645',
 'day_646',
 'day_647',
 'day_648',
 'day_649',
 'day_650',
 'day_651',
 'day_652',
 'day_653',
 'day_654',
 'day_655',
 'day_656',
 'day_657',
 'day_658',
 'day_659',
 'day_660',
 'day_661',
 'day_662',
 'day_663',
 'day_664',
 'day_665',
 'day_666',
 'day_667',
 'day_668',
 'day_669',
 'day_670',
 'day_671',
 'day_672',
 'day_673',
 'day_674',
 'day_675',
 'day_676',
 'day_677',
 'day_678',
 'day_679',
 'day_680',
 'day_681',
 'day_682',
 'day_683',
 'day_684',
 'day_685',
 'day_686',
 'day_687',
 'day_688',
 'day_689',
 'day_690',
 'day_691',
 'day_692',
 'day_693',
 'day_694',
 'day_695',
 'day_696',
 'day_697',
 'day_698',
 'day_699',
 'day_700',
 'day_701',
 'day_702',
 'day_703',
 'day_704',
 'day_705',
 'day_706',
 'day_707',
 'day_708',
 'day_709',
 'day_710',
 'day_711',
 'day_712',
 'day_713',
 'day_714',
 'day_715',
 'day_716',
 'day_717',
 'day_718',
 'day_719',
 'day_720',
 'day_721',
 'day_722',
 'day_723',
 'day_724',
 'day_725',
 'day_726',
 'day_727',
 'day_728',
 'day_729',
 'day_730',
 'day_731',
 'day_732',
 'day_733',
 'day_734',
 'day_735',
 'day_736',
 'day_737',
 'day_738',
 'day_739',
 'day_740',
 'day_741',
 'day_742',
 'day_743',
 'day_744',
 'day_745',
 'day_746',
 'day_747',
 'day_748',
 'day_749',
 'day_750',
 'day_751',
 'day_752',
 'day_753',
 'day_754',
 'day_755',
 'day_756',
 'day_757',
 'day_758',
 'day_759',
 'day_760',
 'day_761',
 'day_762',
 'day_763',
 'day_764',
 'day_765',
 'day_766',
 'day_767',
 'day_768',
 'day_769',
 'day_770',
 'day_771',
 'day_772',
 'day_773',
 'day_774',
 'day_775',
 'day_776',
 'day_777',
 'day_778',
 'day_779',
 'day_780',
 'day_781',
 'day_782',
 'day_783',
 'day_784',
 'day_785',
 'day_786',
 'day_787',
 'day_788',
 'day_789',
 'day_790',
 'day_791',
 'day_792',
 'day_793',
 'day_794',
 'day_795',
 'day_796',
 'day_797',
 'day_798',
 'day_799',
 'day_800',
 'day_801',
 'day_802',
 'day_803',
 'day_804',
 'day_805',
 'day_806',
 'day_807',
 'day_808',
 'day_809',
 'day_810',
 'day_811',
 'day_812',
 'day_813',
 'day_814',
 'day_815',
 'day_816',
 'day_817',
 'day_818',
 'day_819',
 'day_820',
 'day_821',
 'day_822',
 'day_823',
 'day_824',
 'day_825',
 'day_826',
 'day_827',
 'day_828',
 'day_829',
 'day_830',
 'day_831',
 'day_832',
 'day_833',
 'day_834',
 'day_835',
 'day_836',
 'day_837',
 'day_838',
 'day_839',
 'day_840',
 'day_841',
 'day_842',
 'day_843',
 'day_844',
 'day_845',
 'day_846',
 'day_847',
 'day_848',
 'day_849',
 'day_850',
 'day_851',
 'day_852',
 'day_853',
 'day_854',
 'day_855',
 'day_856',
 'day_857',
 'day_858',
 'day_859',
 'day_860',
 'day_861',
 'day_862',
 'day_863',
 'day_864',
 'day_865',
 'day_866',
 'day_867',
 'day_868',
 'day_869',
 'day_870',
 'day_871',
 'day_872',
 'day_873',
 'day_874',
 'day_875',
 'day_876',
 'day_877',
 'day_878',
 'day_879',
 'day_880',
 'day_881',
 'day_882',
 'day_883',
 'day_884',
 'day_885',
 'day_886',
 'day_887',
 'day_888',
 'day_889',
 'day_890',
 'day_891',
 'day_892',
 'day_893',
 'day_894',
 'day_895',
 'day_896',
 'day_897',
 'day_898',
 'day_899',
 'day_900',
 'day_901',
 'day_902',
 'day_903',
 'day_904',
 'day_905',
 'day_906',
 'day_907',
 'day_908',
 'day_909',
 'day_910',
 'day_911',
 'day_912',
 'day_913',
 'day_914',
 'day_915',
 'day_916',
 'day_917',
 'day_918',
 'day_919',
 'day_920',
 'day_921',
 'day_922',
 'day_923',
 'day_924',
 'day_925',
 'day_926',
 'day_927',
 'day_928',
 'day_929',
 'day_930',
 'day_931',
 'day_932',
 'day_933',
 'day_934',
 'day_935',
 'day_936',
 'day_937',
 'day_938',
 'day_939',
 'day_940',
 'day_941',
 'day_942',
 'day_943',
 'day_944',
 'day_945',
 'day_946',
 'day_947',
 'day_948',
 'day_949',
 'day_950',
 'day_951',
 'day_952',
 'day_953',
 'day_954',
 'day_955',
 'day_956',
 'day_957',
 'day_958',
 'day_959',
 'day_960',
 'day_961',
 'day_962',
 'day_963',
 'day_964',
 'day_965',
 'day_966',
 'day_967',
 'day_968',
 'day_969',
 'day_970',
 'day_971',
 'day_972',
 'day_973',
 'day_974',
 'day_975',
 'day_976',
 'day_977',
 'day_978',
 'day_979',
 'day_980',
 'day_981',
 'day_982',
 'day_983',
 'day_984',
 'day_985',
 'day_986',
 'day_987',
 'day_988',
 'day_989',
 'day_990',
 'day_991',
 'day_992',
 'day_993',
 'day_994',
 'day_995',
 'day_996',
 'day_997',
 'day_998',
 ...]

In [30]:
big_boi.columns = column_names
big_boi

,ticker,day_0,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,...,day_1003,day_1004,day_1005,day_1006,day_1007,day_1008,day_1009,day_1010,day_1011,day_1012
0,UNH,106.7421,106.4802,107.0491,106.8053,107.3562,108.4038,107.1485,105.5860,105.4145,...,279.8966,279.6659,283.5101,287.2582,282.0013,283.7600,283.7984,284.4808,284.5192,282.2223
1,JNJ,85.8198,86.8303,86.8387,86.8893,87.0240,87.6724,87.0493,85.6514,84.6998,...,133.1297,133.8000,133.9583,136.7419,135.6806,135.9226,135.8947,136.1088,135.7178,135.0848
2,LLY,75.0504,75.1287,74.7981,74.4501,74.6763,75.2070,74.5719,72.5537,72.1187,...,118.4571,122.1636,123.3100,126.5675,126.4720,125.2110,125.1442,125.6887,125.6409,125.3161
3,PFE,24.0945,24.0650,24.0059,24.0798,24.0576,24.1832,23.9837,23.5258,23.7695,...,33.7570,33.3889,33.3804,33.6799,33.7398,33.6628,33.6371,33.7484,33.6371,33.2006
4,ABBV,42.0324,43.0286,43.4003,43.3185,43.8761,44.1586,44.2329,43.1624,43.1104,...,79.1581,79.2021,78.8766,79.5099,78.7447,79.5099,79.3340,79.1405,78.4721,77.5837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
82,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
83,NVCR,27.5000,27.1200,26.3300,25.9100,24.9600,24.0100,22.8700,22.0000,22.7900,...,82.2500,82.6500,81.8200,85.3500,87.3400,88.7500,89.6400,87.5500,87.4700,84.9300
84,RDY,43.0524,43.2615,42.8908,44.3259,44.0123,44.3544,44.1548,43.4705,43.5466,...,39.2188,39.8740,39.7567,39.6002,40.0990,39.8251,39.6980,39.9719,39.7273,39.5904
85,DVA,69.3700,69.8100,70.1400,70.0500,70.4300,70.5100,69.8200,68.8100,68.7200,...,72.4000,71.9000,73.5900,73.8500,73.7000,74.3700,75.0300,74.8700,74.7400,73.9100

In [34]:
big_boi.to_csv('new_stocks.csv')