In [1]:
import pandas as pd

In [2]:
tickers = pd.read_csv('ticker_list.csv')
tickernames = tickers['name']
biotech_tickers = tickernames.to_list()

In [3]:
import random
import string

def random_string(length):
    x = ''.join(random.choice(string.ascii_lowercase + string.digits) for _ in range(length))
    return x

random_string(13)

'nuf68vv282mkh'

In [5]:
import requests

In [6]:
for ticker in biotech_tickers:
    query = {'s': random_string(13), 't': ticker}
    res = requests.get('https://www.macrotrends.net/assets/php/stock_data_download.php', params=query)
    decoded = res.content.decode('utf-8')
    with open(f'tickers/{ticker}.csv', 'w') as f:
        f.write(decoded)
        f.close()

## Getting data for the same time period

At this point, we have CSV files for each stock saved as ticker.csv in the `tickers` folder in this directory.

### Remove the download message

The real data starts at the CSV column headings, with `date`, so we can remove everything before that

In [7]:
with open('tickers/ABCM.csv', 'r+') as f:
    content = f.read()
    date_index = content.index('date')
    cropped = content[date_index:]
    f.seek(0)
    f.write(cropped)
    f.close()

In [8]:
for ticker in biotech_tickers:
    file_path = f'tickers/{ticker}.csv'
    with open(file_path, 'r+') as f:
        content = f.read()
        date_index = content.index('date')
        cropped = content[date_index:]
        f.seek(0)
        f.write(cropped)
        f.close()

## Reduce data to just the opening prices

In [9]:
ticker = 'ABCL'
file_path = f'tickers/{ticker}.csv'
df = pd.read_csv(file_path)
df = df.drop(['high', 'low', 'close', 'volume'], axis=1)
df.to_csv(file_path)

In [10]:
for ticker in biotech_tickers:
    file_path = f'tickers/{ticker}.csv'
    df = pd.read_csv(file_path)
    try:
        df = df.drop(['high', 'low', 'close', 'volume'], axis=1)
        df.to_csv(file_path)
    except Exception as e:
        print(f'Error for {ticker}: {e}')

Error for ABCL: "['high', 'low', 'close', 'volume'] not found in axis"

## Reducing data to a timeframe

In [11]:
for year in range(2013, 2023, 1):
    count = 0
    for ticker in biotech_tickers:
        file_path = f'tickers/{ticker}.csv'
        df = pd.read_csv(file_path)
        earliest_date = df['date'][0]
        earliest_date_year = int(earliest_date[:4])
        if earliest_date_year <= year:
            count += 1

    print(f'{count} stocks have data starting in a year before {year}')

34 stocks have data starting in a year before 2013
37 stocks have data starting in a year before 2014
50 stocks have data starting in a year before 2015
55 stocks have data starting in a year before 2016
65 stocks have data starting in a year before 2017
78 stocks have data starting in a year before 2018
97 stocks have data starting in a year before 2019
126 stocks have data starting in a year before 2020
158 stocks have data starting in a year before 2021
163 stocks have data starting in a year before 2022

This year, we're going with 2015 onwards

In [12]:
year = 2015

In [13]:
tickers_2015 = []

for ticker in biotech_tickers:
    df = pd.read_csv(f'tickers/{ticker}.csv')
    earliest_date = df['date'][0]
    earliest_date_year = int(earliest_date[:4])
    if earliest_date_year <= year:
        df.to_csv(f'tickers_2015/{ticker}.csv')
        tickers_2015.append(ticker)

Now, we need to remove values before 1 Jan 2015

In [14]:
def date_str_valid(date_str):
    try:
        year = int(str(date_str)[:4])
    except:
        return False
    if year >= 2015:
        return True
    return False

In [15]:
df = df[df.apply(lambda x: date_str_valid(x['date']), axis = 1)]
df

     Unnamed: 0        date     open
0             0  2020-01-29   6.6300
1             1  2020-01-30   9.0000
2             2  2020-01-31   6.9800
3             3  2020-02-03   7.1500
4             4  2020-02-04   7.1800
..          ...         ...      ...
669         669  2022-08-29  11.0100
670         670  2022-08-30  11.6000
671         671  2022-08-31  11.0400
672         672  2022-09-01  11.3147
673         673  2022-09-02  11.2300

[673 rows x 3 columns]

In [16]:
for ticker in tickers_2015:
    original_file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(original_file_path)
    df = df.dropna()
    df = df[df.apply(lambda x: date_str_valid(x['date']), axis = 1)]
    df.to_csv(original_file_path)

Now we need to remove data from 2020 or later

In [17]:
def date_str_before_2020(date_str):
    try:
        year = int(str(date_str)[:4])
    except:
        return False
    if year < 2020:
        return True
    return False

In [18]:
for ticker in tickers_2015:
    original_file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(original_file_path)
    df = df.dropna()
    df = df[df.apply(lambda x: date_str_before_2020(x['date']), axis = 1)]
    df.to_csv(original_file_path)

We now have a bunch of junk which we should remove from each of the files

In [19]:
for ticker in tickers_2015:
    file_path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(file_path)
    df = df[['date', 'open']]
    df.to_csv(file_path)

## Preparing Data

Now we need to merge these all into one dataframe / CSV file. This should have the date as the column and opening price for that stock as the row

First, we need to change the files so that each have them have the date as the column and opening price as the value

In [20]:
for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    df = df[['date', 'open']]
    df = df.transpose()
    df.columns = df.iloc[0]
    df = df.drop(['date'])
    df.insert(loc=0, column='', value=ticker)
    df.to_csv(path, index=False)

Now, we need to merge all the dataframes into one mega DF

In [21]:
dfs = []

for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    dfs.append(df)

big_boi = pd.concat(dfs, axis=0)
big_boi

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,36.1597,36.2022,35.9048,35.8878,36.2022,36.6102,37.0691,37.4345,37.5110,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.2750,54.5748
0,VRTX,119.9700,122.2700,121.3100,118.8200,122.0000,123.7500,123.0100,120.4000,118.4200,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
0,REGN,413.9000,414.2600,414.3900,402.7900,411.5700,409.7800,414.0200,417.7300,403.1200,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
0,RPRX,10.0200,9.5700,9.6100,9.0900,8.9700,8.9000,9.3500,9.1400,8.6600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,SGEN,32.3100,32.3800,33.0400,31.8400,32.4900,31.7400,31.8800,32.2000,31.0200,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.6900,113.9000
0,ALNY,97.9700,96.4400,95.7700,94.8500,97.3500,102.1400,103.2200,105.5700,102.4100,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
0,BMRN,91.2400,90.8900,93.1100,91.7200,95.6600,94.4400,95.3100,97.2900,95.4400,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
0,INCY,73.6500,73.8200,73.2300,72.4800,75.0000,73.0100,73.0700,73.9200,75.2800,...,93.4300,90.8400,90.9000,92.0100,90.6800,90.4700,91.2000,89.1700,88.2700,87.7000
0,TECH,87.3801,85.4824,85.2475,84.8624,85.9991,85.7830,86.4783,86.7225,86.1964,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791
0,UTHR,129.5000,126.8400,127.1100,125.5300,126.8700,128.8800,129.7800,133.9200,133.9200,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
0,JAZZ,165.9600,162.2000,160.5300,160.6100,164.9500,163.4700,162.0300,161.7300,160.3100,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,14.5800,14.7500,15.0300,14.4900,15.0800,14.5600,13.4100,12.0100,11.5800,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,IONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
0,EXEL,1.4700,1.6700,1.6400,1.6000,1.6700,1.8200,1.7900,1.6700,1.6300,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
0,HALO,9.7700,9.7300,10.0600,10.2500,12.8000,13.9700,14.1700,14.5000,14.5500,...,19.0600,18.9300,18.5200,18.4000,18.3000,18.3500,18.3800,18.2400,17.9600,17.7900
0,CYTK,8.0100,7.5000,7.7000,7.2500,7.5000,7.7700,7.8500,7.8900,7.3700,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
0,ASND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
0,GBT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.6800,73.0000,76.0700,76.0100,77.9600,80.6300,81.2900,82.0400,79.4700,78.9500
0,MRTX,18.5000,19.0000,19.2800,19.8300,21.9000,22.0000,22.2000,22.0000,21.5500,...,113.2500,116.3300,112.5500,116.3300,123.2500,128.1300,127.2700,128.3500,127.4300,127.9800
0,BPMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.2000,76.2100,78.3800,78.0000,80.2900,82.0000,82.7800,82.5300,81.6000,80.5300
0,ARWR,7.7100,7.6900,7.5000,7.0100,7.4400,7.9500,7.4400,6.8000,6.1600,...,65.4400,65.3000,66.9000,67.8400,64.6500,63.6100,64.5500,67.1500,64.5000,63.9400
0,PTCT,52.5300,50.5900,53.1900,51.9000,53.9500,54.4500,54.0000,54.0000,56.6100,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
0,CCXI,6.8400,6.7700,6.8000,6.6800,6.9800,7.0500,7.0100,6.9500,6.9900,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
0,RARE,44.4200,46.2100,47.8500,47.5200,50.5500,52.5000,54.9000,56.6800,51.5100,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
0,GLPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
0,INSM,15.6600,15.8200,15.9000,15.4500,16.1500,16.1000,15.6600,14.0000,14.0900,...,23.6200,23.6000,23.5800,23.9200,24.1000,24.6800,25.0300,24.5000,23.9000,23.2800
0,ACAD,32.1700,31.0200,31.3200,31.3400,32.4100,32.5000,33.5500,34.7600,33.9500,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
0,BCRX,12.2600,12.0600,12.3700,12.1000,12.2200,12.2800,12.5800,12.0300,11.7100,...,3.2200,3.2500,3.1700,3.2100,3.2000,3.0800,3.1600,3.1600,3.1100,3.2200
0,NVAX,118.0000,114.6000,118.2000,115.8000,119.0000,121.0000,127.2000,130.0000,122.0000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
0,AGIO,113.6500,107.0600,110.0000,112.9900,121.0500,122.6900,130.4900,135.0000,127.4200,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
0,KDNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.6000,5.0500,5.2500,5.0000,5.0500,5.5000,6.0000,6.0000,5.9500,5.9000
0,ENTA,50.8800,50.0100,49.7900,49.0900,50.5200,51.2600,50.2100,50.1000,48.3200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
0,RGNX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
0,PRTA,21.0000,20.1500,19.4800,19.2900,20.9600,21.5800,21.6800,20.7900,19.4600,...,12.8200,12.8800,12.8300,13.3600,16.0100,17.0100,16.2500,16.8500,15.9500,15.6500
0,IMGN,6.1800,6.4500,6.5500,6.6100,6.3800,6.2200,6.2400,6.3100,6.0200,...,4.6300,4.6200,5.0300,5.7200,5.3000,5.4900,5.4600,5.8500,5.0900,5.0700
0,MDGL,92.7501,101.8501,99.7501,95.2001,96.2501,93.8001,93.8001,95.9001,92.0501,...,96.9200,94.4900,90.6700,89.2600,90.3500,93.1200,94.5700,95.7600,92.6900,89.8900
0,FGEN,27.4400,27.5400,34.0000,34.9700,36.4100,34.5200,34.0800,35.1900,33.4800,...,47.2700,47.2500,46.5400,46.4400,45.5200,45.0900,45.9000,46.7900,44.9500,43.1300
0,ISEE,45.3000,45.5500,46.8800,46.8700,49.1500,51.0900,51.1900,51.0300,49.8100,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
0,KURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.8800,14.4300,13.8600,14.2100,14.2000,14.5200,14.6400,14.5400,14.3400,13.9800
0,QURE,15.0000,14.9100,17.0000,17.4200,17.2500,17.6600,18.5000,20.8000,20.8200,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
0,SGMO,15.2700,15.2000,15.2100,14.9100,15.3100,15.7800,15.9200,15.9800,14.7100,...,8.3700,8.2700,8.4300,8.6600,8.4200,8.9800,8.8300,8.5500,8.2900,8.1100
0,AVXL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
0,MCRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4200,4.4400,4.3100,4.3100,4.1100,4.2400,4.3600,4.0500,3.9600,3.6400
0,ICPT,154.4500,157.5100,175.0000,162.9900,159.3800,152.2000,150.0100,149.2100,149.3900,...,118.8900,120.0500,119.4500,119.1500,120.5000,124.0000,124.0200,123.2400,123.0000,123.0000
0,BLUE,55.3884,53.9445,55.4720,58.1987,58.4135,58.3360,62.1427,61.5580,58.5746,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
0,CDXS,2.5600,2.7900,2.9200,2.9200,2.8700,3.1000,3.0100,3.1900,3.0400,...,15.8900,16.1200,16.1000,16.5300,16.7200,17.0000,17.0000,16.8900,17.1200,16.0300
0,KPTI,37.8400,37.5300,35.9700,32.5000,31.7800,32.0000,32.0400,30.1600,28.0000,...,17.0100,17.1900,18.1900,18.5000,18.3300,19.1900,19.5000,20.0000,19.2500,18.8300
0,VYGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
0,ANTX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,KMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7200,6.6864,5.7600,5.4400,4.9408,4.9600,4.9600,5.8400,7.3600,6.8000

In [22]:
big_boi.reset_index()
big_boi

,Unnamed: 0,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-14,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,36.1597,36.2022,35.9048,35.8878,36.2022,36.6102,37.0691,37.4345,37.5110,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.2750,54.5748
0,VRTX,119.9700,122.2700,121.3100,118.8200,122.0000,123.7500,123.0100,120.4000,118.4200,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
0,REGN,413.9000,414.2600,414.3900,402.7900,411.5700,409.7800,414.0200,417.7300,403.1200,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
0,RPRX,10.0200,9.5700,9.6100,9.0900,8.9700,8.9000,9.3500,9.1400,8.6600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,SGEN,32.3100,32.3800,33.0400,31.8400,32.4900,31.7400,31.8800,32.2000,31.0200,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.6900,113.9000
0,ALNY,97.9700,96.4400,95.7700,94.8500,97.3500,102.1400,103.2200,105.5700,102.4100,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
0,BMRN,91.2400,90.8900,93.1100,91.7200,95.6600,94.4400,95.3100,97.2900,95.4400,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
0,INCY,73.6500,73.8200,73.2300,72.4800,75.0000,73.0100,73.0700,73.9200,75.2800,...,93.4300,90.8400,90.9000,92.0100,90.6800,90.4700,91.2000,89.1700,88.2700,87.7000
0,TECH,87.3801,85.4824,85.2475,84.8624,85.9991,85.7830,86.4783,86.7225,86.1964,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791
0,UTHR,129.5000,126.8400,127.1100,125.5300,126.8700,128.8800,129.7800,133.9200,133.9200,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
0,JAZZ,165.9600,162.2000,160.5300,160.6100,164.9500,163.4700,162.0300,161.7300,160.3100,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,14.5800,14.7500,15.0300,14.4900,15.0800,14.5600,13.4100,12.0100,11.5800,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,IONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
0,EXEL,1.4700,1.6700,1.6400,1.6000,1.6700,1.8200,1.7900,1.6700,1.6300,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
0,HALO,9.7700,9.7300,10.0600,10.2500,12.8000,13.9700,14.1700,14.5000,14.5500,...,19.0600,18.9300,18.5200,18.4000,18.3000,18.3500,18.3800,18.2400,17.9600,17.7900
0,CYTK,8.0100,7.5000,7.7000,7.2500,7.5000,7.7700,7.8500,7.8900,7.3700,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
0,ASND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
0,GBT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.6800,73.0000,76.0700,76.0100,77.9600,80.6300,81.2900,82.0400,79.4700,78.9500
0,MRTX,18.5000,19.0000,19.2800,19.8300,21.9000,22.0000,22.2000,22.0000,21.5500,...,113.2500,116.3300,112.5500,116.3300,123.2500,128.1300,127.2700,128.3500,127.4300,127.9800
0,BPMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.2000,76.2100,78.3800,78.0000,80.2900,82.0000,82.7800,82.5300,81.6000,80.5300
0,ARWR,7.7100,7.6900,7.5000,7.0100,7.4400,7.9500,7.4400,6.8000,6.1600,...,65.4400,65.3000,66.9000,67.8400,64.6500,63.6100,64.5500,67.1500,64.5000,63.9400
0,PTCT,52.5300,50.5900,53.1900,51.9000,53.9500,54.4500,54.0000,54.0000,56.6100,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
0,CCXI,6.8400,6.7700,6.8000,6.6800,6.9800,7.0500,7.0100,6.9500,6.9900,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
0,RARE,44.4200,46.2100,47.8500,47.5200,50.5500,52.5000,54.9000,56.6800,51.5100,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
0,GLPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
0,INSM,15.6600,15.8200,15.9000,15.4500,16.1500,16.1000,15.6600,14.0000,14.0900,...,23.6200,23.6000,23.5800,23.9200,24.1000,24.6800,25.0300,24.5000,23.9000,23.2800
0,ACAD,32.1700,31.0200,31.3200,31.3400,32.4100,32.5000,33.5500,34.7600,33.9500,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
0,BCRX,12.2600,12.0600,12.3700,12.1000,12.2200,12.2800,12.5800,12.0300,11.7100,...,3.2200,3.2500,3.1700,3.2100,3.2000,3.0800,3.1600,3.1600,3.1100,3.2200
0,NVAX,118.0000,114.6000,118.2000,115.8000,119.0000,121.0000,127.2000,130.0000,122.0000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
0,AGIO,113.6500,107.0600,110.0000,112.9900,121.0500,122.6900,130.4900,135.0000,127.4200,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
0,KDNY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.6000,5.0500,5.2500,5.0000,5.0500,5.5000,6.0000,6.0000,5.9500,5.9000
0,ENTA,50.8800,50.0100,49.7900,49.0900,50.5200,51.2600,50.2100,50.1000,48.3200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
0,RGNX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
0,PRTA,21.0000,20.1500,19.4800,19.2900,20.9600,21.5800,21.6800,20.7900,19.4600,...,12.8200,12.8800,12.8300,13.3600,16.0100,17.0100,16.2500,16.8500,15.9500,15.6500
0,IMGN,6.1800,6.4500,6.5500,6.6100,6.3800,6.2200,6.2400,6.3100,6.0200,...,4.6300,4.6200,5.0300,5.7200,5.3000,5.4900,5.4600,5.8500,5.0900,5.0700
0,MDGL,92.7501,101.8501,99.7501,95.2001,96.2501,93.8001,93.8001,95.9001,92.0501,...,96.9200,94.4900,90.6700,89.2600,90.3500,93.1200,94.5700,95.7600,92.6900,89.8900
0,FGEN,27.4400,27.5400,34.0000,34.9700,36.4100,34.5200,34.0800,35.1900,33.4800,...,47.2700,47.2500,46.5400,46.4400,45.5200,45.0900,45.9000,46.7900,44.9500,43.1300
0,ISEE,45.3000,45.5500,46.8800,46.8700,49.1500,51.0900,51.1900,51.0300,49.8100,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
0,KURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.8800,14.4300,13.8600,14.2100,14.2000,14.5200,14.6400,14.5400,14.3400,13.9800
0,QURE,15.0000,14.9100,17.0000,17.4200,17.2500,17.6600,18.5000,20.8000,20.8200,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
0,SGMO,15.2700,15.2000,15.2100,14.9100,15.3100,15.7800,15.9200,15.9800,14.7100,...,8.3700,8.2700,8.4300,8.6600,8.4200,8.9800,8.8300,8.5500,8.2900,8.1100
0,AVXL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
0,MCRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4200,4.4400,4.3100,4.3100,4.1100,4.2400,4.3600,4.0500,3.9600,3.6400
0,ICPT,154.4500,157.5100,175.0000,162.9900,159.3800,152.2000,150.0100,149.2100,149.3900,...,118.8900,120.0500,119.4500,119.1500,120.5000,124.0000,124.0200,123.2400,123.0000,123.0000
0,BLUE,55.3884,53.9445,55.4720,58.1987,58.4135,58.3360,62.1427,61.5580,58.5746,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
0,CDXS,2.5600,2.7900,2.9200,2.9200,2.8700,3.1000,3.0100,3.1900,3.0400,...,15.8900,16.1200,16.1000,16.5300,16.7200,17.0000,17.0000,16.8900,17.1200,16.0300
0,KPTI,37.8400,37.5300,35.9700,32.5000,31.7800,32.0000,32.0400,30.1600,28.0000,...,17.0100,17.1900,18.1900,18.5000,18.3300,19.1900,19.5000,20.0000,19.2500,18.8300
0,VYGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
0,ANTX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,KMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.7200,6.6864,5.7600,5.4400,4.9408,4.9600,4.9600,5.8400,7.3600,6.8000

Seems like some rows are missing in `big_boi`

In [23]:
import numpy as np
columns_all = np.array([column for column in [columns for columns in [df.columns for df in dfs]]])
first_dates = [i[1] for i in columns_all]
(first_dates.sort())
first_dates[-1]

/var/folders/8m/xxtd2bpx07b2133k5m87vfq80000gn/T/ipykernel_21630/1148072085.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  columns_all = np.array([column for column in [columns for columns in [df.columns for df in dfs]]])

'2015-12-22'

The latest first date is  '2015-12-22'. This means we will have to reduce all of our data so that it starts on the 22nd of December 2015.

In [24]:
dates_to_remove = []
for i in range(1, 12, 1):
    month_code = ''
    if i <= 9:
        month_code = f'0{i}'
    else:
        month_code = str(i)
    for k in range(1, 32, 1):
        if k <= 9:
            date = f'2015-{month_code}-0{k}'
        else:
            date = f'2015-{month_code}-{k}'
        dates_to_remove.append(date)

for j in range(1, 22, 1):
    if j <= 9:
        date = f'2015-12-0{j}'
    else:
        date = f'2015-12-{j}'
    dates_to_remove.append(date)

In [25]:
'2015-10-06' in dates_to_remove

True

In [26]:
dfs = []

for ticker in tickers_2015:
    path = f'tickers_2015/{ticker}.csv'
    df = pd.read_csv(path)
    df = df.drop(dates_to_remove, axis=1, errors='ignore')
    dfs.append(df)

big_boi = pd.concat(dfs, axis=0)
big_boi

,Unnamed: 0,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.0100,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.2750,54.5748
0,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.8900,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
0,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.3800,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
0,RPRX,1.2500,1.2700,1.3400,1.2600,1.2400,1.1300,1.1600,1.1900,1.2900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.0700,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.6900,113.9000
0,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.4900,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
0,BMRN,104.3600,104.4000,105.8300,105.9100,106.0200,106.3000,105.4400,102.8000,105.0200,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
0,INCY,113.7800,109.2100,110.2600,108.9800,109.9800,110.2700,108.2400,106.5000,102.1400,...,93.4300,90.8400,90.9000,92.0100,90.6800,90.4700,91.2000,89.1700,88.2700,87.7000
0,TECH,83.8159,85.2154,85.3011,86.6815,87.7763,87.4241,86.4816,84.7965,84.0635,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791
0,UTHR,158.4200,159.2800,159.1500,159.9900,161.8700,159.2600,157.7800,154.2300,156.3800,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
0,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
0,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
0,IONS,57.7600,58.1200,58.5000,59.7400,60.7700,60.6700,60.8100,61.0500,61.4700,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
0,EXEL,4.9900,5.0200,5.5000,5.2400,5.4700,5.6800,5.6500,5.5000,5.8200,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
0,HALO,16.9600,16.9000,17.0000,17.0000,17.1800,17.1200,17.2900,16.9300,16.6400,...,19.0600,18.9300,18.5200,18.4000,18.3000,18.3500,18.3800,18.2400,17.9600,17.7900
0,CYTK,10.8700,10.7300,10.8400,10.6300,10.4700,10.4200,10.4900,10.2200,10.0900,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
0,ASND,16.9000,17.1000,17.8000,17.9000,17.6000,17.6500,17.7900,18.0600,17.9300,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
0,GBT,30.6100,31.0300,33.1100,33.4300,33.0500,32.4100,31.2000,31.7800,29.2600,...,78.6800,73.0000,76.0700,76.0100,77.9600,80.6300,81.2900,82.0400,79.4700,78.9500
0,MRTX,32.7200,33.9800,33.4000,31.9900,31.1400,30.5300,30.5100,30.8300,29.3400,...,113.2500,116.3300,112.5500,116.3300,123.2500,128.1300,127.2700,128.3500,127.4300,127.9800
0,BPMC,24.9600,25.1800,25.4700,24.7700,24.1900,24.8500,24.8500,25.9900,24.4700,...,77.2000,76.2100,78.3800,78.0000,80.2900,82.0000,82.7800,82.5300,81.6000,80.5300
0,ARWR,6.0800,5.9900,6.0400,6.1800,6.2200,6.1800,6.1000,5.9700,5.9400,...,65.4400,65.3000,66.9000,67.8400,64.6500,63.6100,64.5500,67.1500,64.5000,63.9400
0,PTCT,33.3500,31.8700,33.4500,32.6900,32.5700,33.4600,32.6100,31.6000,31.0400,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
0,CCXI,7.7800,7.8900,7.9000,8.0900,8.2300,8.1900,8.0200,7.9500,7.1100,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
0,RARE,115.7900,114.0100,114.3300,112.6600,114.4500,116.3500,112.6400,108.8000,102.0000,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
0,GLPG,59.9900,60.6500,60.9700,61.4000,63.0000,63.4200,62.6800,61.5200,60.5500,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
0,INSM,18.0500,18.1900,18.2700,18.2600,18.1400,19.0000,18.6500,17.7100,17.3800,...,23.6200,23.6000,23.5800,23.9200,24.1000,24.6800,25.0300,24.5000,23.9000,23.2800
0,ACAD,33.7000,34.5100,34.8900,35.0000,35.4600,36.0000,35.6100,34.8400,34.6900,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
0,BCRX,10.8200,10.6900,10.7200,10.6100,10.7200,10.7600,10.4500,10.0700,9.8500,...,3.2200,3.2500,3.1700,3.2100,3.2000,3.0800,3.1600,3.1600,3.1100,3.2200
0,NVAX,174.0000,166.4000,167.8000,168.0000,167.0000,174.0000,166.6000,163.4000,158.4000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
0,AGIO,64.9300,61.9100,63.2800,65.5900,63.6900,67.0300,64.9200,63.5200,64.1100,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
0,KDNY,148.2500,135.0500,140.7000,141.0000,140.1500,144.1000,143.4000,135.5500,133.9500,...,5.6000,5.0500,5.2500,5.0000,5.0500,5.5000,6.0000,6.0000,5.9500,5.9000
0,ENTA,31.8100,32.3000,32.3200,32.1000,33.6000,33.6000,33.3900,32.4400,34.2200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
0,RGNX,18.2000,18.5700,18.7400,18.4700,17.9000,17.4800,17.1400,16.2400,17.0100,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
0,PRTA,71.2600,70.7200,70.4400,69.5000,69.5400,70.9000,69.2900,66.9200,62.4600,...,12.8200,12.8800,12.8300,13.3600,16.0100,17.0100,16.2500,16.8500,15.9500,15.6500
0,IMGN,13.7000,13.7100,13.6500,13.6700,13.5400,13.9700,13.6000,13.2700,12.8800,...,4.6300,4.6200,5.0300,5.7200,5.3000,5.4900,5.4600,5.8500,5.0900,5.0700
0,MDGL,11.5325,10.9760,12.2500,12.2500,12.2500,12.2500,12.2500,11.5500,11.3750,...,96.9200,94.4900,90.6700,89.2600,90.3500,93.1200,94.5700,95.7600,92.6900,89.8900
0,FGEN,30.0700,29.9600,30.9800,30.5300,30.3800,31.0400,31.0400,29.7900,30.6600,...,47.2700,47.2500,46.5400,46.4400,45.5200,45.0900,45.9000,46.7900,44.9500,43.1300
0,ISEE,78.2100,77.2500,78.9400,77.2400,78.2300,78.3000,77.6400,76.3700,73.2200,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
0,KURA,7.5700,7.3320,7.2200,7.0100,6.9600,7.2600,7.7500,8.5800,8.9000,...,14.8800,14.4300,13.8600,14.2100,14.2000,14.5200,14.6400,14.5400,14.3400,13.9800
0,QURE,17.0700,16.6900,16.9000,16.5100,15.7500,15.4200,15.9000,16.3400,15.9900,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
0,SGMO,9.3800,9.2800,9.3300,9.3500,9.2400,9.4200,9.3600,8.9200,8.9700,...,8.3700,8.2700,8.4300,8.6600,8.4200,8.9800,8.8300,8.5500,8.2900,8.1100
0,AVXL,7.5300,7.5200,7.4500,7.1000,5.9600,5.8900,5.0900,5.4900,6.1200,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
0,MCRB,38.0000,36.8500,35.5500,35.1600,35.2700,36.9400,35.1100,33.7000,34.2800,...,4.4200,4.4400,4.3100,4.3100,4.1100,4.2400,4.3600,4.0500,3.9600,3.6400
0,ICPT,162.7800,155.7700,155.6700,154.0000,154.2900,153.5400,149.0600,146.0900,147.5600,...,118.8900,120.0500,119.4500,119.1500,120.5000,124.0000,124.0200,123.2400,123.0000,123.0000
0,BLUE,38.6937,38.4014,38.6042,39.2606,39.5828,39.4694,38.5386,37.4825,37.9121,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
0,CDXS,3.9400,3.9400,3.9600,3.9900,4.0300,4.0400,4.1000,4.1500,4.2300,...,15.8900,16.1200,16.1000,16.5300,16.7200,17.0000,17.0000,16.8900,17.1200,16.0300
0,KPTI,13.8200,14.1800,14.2000,13.7800,13.9400,13.6800,13.3500,13.0700,13.4700,...,17.0100,17.1900,18.1900,18.5000,18.3300,19.1900,19.5000,20.0000,19.2500,18.8300
0,VYGR,21.3100,21.0900,20.5100,20.8600,20.9500,23.0000,23.1100,21.7000,21.0800,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
0,ANTX,40.5627,40.7882,41.1120,40.7842,40.9082,41.0589,41.0411,40.3500,41.0943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,KMPH,301.9200,284.8880,298.7200,305.6000,311.2000,313.4400,304.3200,315.5200,296.0000,...,6.7200,6.6864,5.7600,5.4400,4.9408,4.9600,4.9600,5.8400,7.3600,6.8000

Now for some cleaning

In [27]:
big_boi = big_boi.reset_index(drop=True)

In [28]:
big_boi.rename(columns={'Unnamed: 0': 'ticker'}, inplace=True)
big_boi.head()

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.01,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.275,54.5748
1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.89,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.380,218.6000
2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.38,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.740,373.6400
3,RPRX,1.2500,1.2700,1.3400,1.2600,1.2400,1.1300,1.1600,1.1900,1.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.07,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.690,113.9000

Seems like some values are still missing... because the stock market be like that. Let's nuke them

In [29]:
big_boi = big_boi.dropna()
big_boi

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.0100,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.2750,54.5748
1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.8900,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.3800,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
4,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.0700,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.6900,113.9000
5,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.4900,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
6,BMRN,104.3600,104.4000,105.8300,105.9100,106.0200,106.3000,105.4400,102.8000,105.0200,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
7,INCY,113.7800,109.2100,110.2600,108.9800,109.9800,110.2700,108.2400,106.5000,102.1400,...,93.4300,90.8400,90.9000,92.0100,90.6800,90.4700,91.2000,89.1700,88.2700,87.7000
8,TECH,83.8159,85.2154,85.3011,86.6815,87.7763,87.4241,86.4816,84.7965,84.0635,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791
9,UTHR,158.4200,159.2800,159.1500,159.9900,161.8700,159.2600,157.7800,154.2300,156.3800,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
10,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
11,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
12,IONS,57.7600,58.1200,58.5000,59.7400,60.7700,60.6700,60.8100,61.0500,61.4700,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
13,EXEL,4.9900,5.0200,5.5000,5.2400,5.4700,5.6800,5.6500,5.5000,5.8200,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
14,HALO,16.9600,16.9000,17.0000,17.0000,17.1800,17.1200,17.2900,16.9300,16.6400,...,19.0600,18.9300,18.5200,18.4000,18.3000,18.3500,18.3800,18.2400,17.9600,17.7900
15,CYTK,10.8700,10.7300,10.8400,10.6300,10.4700,10.4200,10.4900,10.2200,10.0900,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
16,ASND,16.9000,17.1000,17.8000,17.9000,17.6000,17.6500,17.7900,18.0600,17.9300,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
17,GBT,30.6100,31.0300,33.1100,33.4300,33.0500,32.4100,31.2000,31.7800,29.2600,...,78.6800,73.0000,76.0700,76.0100,77.9600,80.6300,81.2900,82.0400,79.4700,78.9500
18,MRTX,32.7200,33.9800,33.4000,31.9900,31.1400,30.5300,30.5100,30.8300,29.3400,...,113.2500,116.3300,112.5500,116.3300,123.2500,128.1300,127.2700,128.3500,127.4300,127.9800
19,BPMC,24.9600,25.1800,25.4700,24.7700,24.1900,24.8500,24.8500,25.9900,24.4700,...,77.2000,76.2100,78.3800,78.0000,80.2900,82.0000,82.7800,82.5300,81.6000,80.5300
20,ARWR,6.0800,5.9900,6.0400,6.1800,6.2200,6.1800,6.1000,5.9700,5.9400,...,65.4400,65.3000,66.9000,67.8400,64.6500,63.6100,64.5500,67.1500,64.5000,63.9400
21,PTCT,33.3500,31.8700,33.4500,32.6900,32.5700,33.4600,32.6100,31.6000,31.0400,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
22,CCXI,7.7800,7.8900,7.9000,8.0900,8.2300,8.1900,8.0200,7.9500,7.1100,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
23,RARE,115.7900,114.0100,114.3300,112.6600,114.4500,116.3500,112.6400,108.8000,102.0000,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
24,GLPG,59.9900,60.6500,60.9700,61.4000,63.0000,63.4200,62.6800,61.5200,60.5500,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
25,INSM,18.0500,18.1900,18.2700,18.2600,18.1400,19.0000,18.6500,17.7100,17.3800,...,23.6200,23.6000,23.5800,23.9200,24.1000,24.6800,25.0300,24.5000,23.9000,23.2800
26,ACAD,33.7000,34.5100,34.8900,35.0000,35.4600,36.0000,35.6100,34.8400,34.6900,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
27,BCRX,10.8200,10.6900,10.7200,10.6100,10.7200,10.7600,10.4500,10.0700,9.8500,...,3.2200,3.2500,3.1700,3.2100,3.2000,3.0800,3.1600,3.1600,3.1100,3.2200
28,NVAX,174.0000,166.4000,167.8000,168.0000,167.0000,174.0000,166.6000,163.4000,158.4000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
29,AGIO,64.9300,61.9100,63.2800,65.5900,63.6900,67.0300,64.9200,63.5200,64.1100,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
30,KDNY,148.2500,135.0500,140.7000,141.0000,140.1500,144.1000,143.4000,135.5500,133.9500,...,5.6000,5.0500,5.2500,5.0000,5.0500,5.5000,6.0000,6.0000,5.9500,5.9000
31,ENTA,31.8100,32.3000,32.3200,32.1000,33.6000,33.6000,33.3900,32.4400,34.2200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
32,RGNX,18.2000,18.5700,18.7400,18.4700,17.9000,17.4800,17.1400,16.2400,17.0100,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
33,PRTA,71.2600,70.7200,70.4400,69.5000,69.5400,70.9000,69.2900,66.9200,62.4600,...,12.8200,12.8800,12.8300,13.3600,16.0100,17.0100,16.2500,16.8500,15.9500,15.6500
34,IMGN,13.7000,13.7100,13.6500,13.6700,13.5400,13.9700,13.6000,13.2700,12.8800,...,4.6300,4.6200,5.0300,5.7200,5.3000,5.4900,5.4600,5.8500,5.0900,5.0700
35,MDGL,11.5325,10.9760,12.2500,12.2500,12.2500,12.2500,12.2500,11.5500,11.3750,...,96.9200,94.4900,90.6700,89.2600,90.3500,93.1200,94.5700,95.7600,92.6900,89.8900
36,FGEN,30.0700,29.9600,30.9800,30.5300,30.3800,31.0400,31.0400,29.7900,30.6600,...,47.2700,47.2500,46.5400,46.4400,45.5200,45.0900,45.9000,46.7900,44.9500,43.1300
37,ISEE,78.2100,77.2500,78.9400,77.2400,78.2300,78.3000,77.6400,76.3700,73.2200,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
38,KURA,7.5700,7.3320,7.2200,7.0100,6.9600,7.2600,7.7500,8.5800,8.9000,...,14.8800,14.4300,13.8600,14.2100,14.2000,14.5200,14.6400,14.5400,14.3400,13.9800
39,QURE,17.0700,16.6900,16.9000,16.5100,15.7500,15.4200,15.9000,16.3400,15.9900,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
40,SGMO,9.3800,9.2800,9.3300,9.3500,9.2400,9.4200,9.3600,8.9200,8.9700,...,8.3700,8.2700,8.4300,8.6600,8.4200,8.9800,8.8300,8.5500,8.2900,8.1100
41,AVXL,7.5300,7.5200,7.4500,7.1000,5.9600,5.8900,5.0900,5.4900,6.1200,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
42,MCRB,38.0000,36.8500,35.5500,35.1600,35.2700,36.9400,35.1100,33.7000,34.2800,...,4.4200,4.4400,4.3100,4.3100,4.1100,4.2400,4.3600,4.0500,3.9600,3.6400
43,ICPT,162.7800,155.7700,155.6700,154.0000,154.2900,153.5400,149.0600,146.0900,147.5600,...,118.8900,120.0500,119.4500,119.1500,120.5000,124.0000,124.0200,123.2400,123.0000,123.0000
44,BLUE,38.6937,38.4014,38.6042,39.2606,39.5828,39.4694,38.5386,37.4825,37.9121,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
45,CDXS,3.9400,3.9400,3.9600,3.9900,4.0300,4.0400,4.1000,4.1500,4.2300,...,15.8900,16.1200,16.1000,16.5300,16.7200,17.0000,17.0000,16.8900,17.1200,16.0300
46,KPTI,13.8200,14.1800,14.2000,13.7800,13.9400,13.6800,13.3500,13.0700,13.4700,...,17.0100,17.1900,18.1900,18.5000,18.3300,19.1900,19.5000,20.0000,19.2500,18.8300
47,VYGR,21.3100,21.0900,20.5100,20.8600,20.9500,23.0000,23.1100,21.7000,21.0800,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
49,KMPH,301.9200,284.8880,298.7200,305.6000,311.2000,313.4400,304.3200,315.5200,296.0000,...,6.7200,6.6864,5.7600,5.4400,4.9408,4.9600,4.9600,5.8400,7.3600,6.8000

In [30]:
big_boi.to_csv('opening_prices_biotech_original.csv')

Now all that's left is we need to remove the explicit date headings and instead label the dates as relative to the first date.

In [31]:
num_days = len(big_boi.iloc[0]) - 1
column_names = ['ticker']
for i in range(num_days):
    day_id = f'day_{i}'
    column_names.append(day_id)
column_names

['ticker',
 'day_0',
 'day_1',
 'day_2',
 'day_3',
 'day_4',
 'day_5',
 'day_6',
 'day_7',
 'day_8',
 'day_9',
 'day_10',
 'day_11',
 'day_12',
 'day_13',
 'day_14',
 'day_15',
 'day_16',
 'day_17',
 'day_18',
 'day_19',
 'day_20',
 'day_21',
 'day_22',
 'day_23',
 'day_24',
 'day_25',
 'day_26',
 'day_27',
 'day_28',
 'day_29',
 'day_30',
 'day_31',
 'day_32',
 'day_33',
 'day_34',
 'day_35',
 'day_36',
 'day_37',
 'day_38',
 'day_39',
 'day_40',
 'day_41',
 'day_42',
 'day_43',
 'day_44',
 'day_45',
 'day_46',
 'day_47',
 'day_48',
 'day_49',
 'day_50',
 'day_51',
 'day_52',
 'day_53',
 'day_54',
 'day_55',
 'day_56',
 'day_57',
 'day_58',
 'day_59',
 'day_60',
 'day_61',
 'day_62',
 'day_63',
 'day_64',
 'day_65',
 'day_66',
 'day_67',
 'day_68',
 'day_69',
 'day_70',
 'day_71',
 'day_72',
 'day_73',
 'day_74',
 'day_75',
 'day_76',
 'day_77',
 'day_78',
 'day_79',
 'day_80',
 'day_81',
 'day_82',
 'day_83',
 'day_84',
 'day_85',
 'day_86',
 'day_87',
 'day_88',
 'day_89',
 'day_90',
 'day_91',
 'day_92',
 'day_93',
 'day_94',
 'day_95',
 'day_96',
 'day_97',
 'day_98',
 'day_99',
 'day_100',
 'day_101',
 'day_102',
 'day_103',
 'day_104',
 'day_105',
 'day_106',
 'day_107',
 'day_108',
 'day_109',
 'day_110',
 'day_111',
 'day_112',
 'day_113',
 'day_114',
 'day_115',
 'day_116',
 'day_117',
 'day_118',
 'day_119',
 'day_120',
 'day_121',
 'day_122',
 'day_123',
 'day_124',
 'day_125',
 'day_126',
 'day_127',
 'day_128',
 'day_129',
 'day_130',
 'day_131',
 'day_132',
 'day_133',
 'day_134',
 'day_135',
 'day_136',
 'day_137',
 'day_138',
 'day_139',
 'day_140',
 'day_141',
 'day_142',
 'day_143',
 'day_144',
 'day_145',
 'day_146',
 'day_147',
 'day_148',
 'day_149',
 'day_150',
 'day_151',
 'day_152',
 'day_153',
 'day_154',
 'day_155',
 'day_156',
 'day_157',
 'day_158',
 'day_159',
 'day_160',
 'day_161',
 'day_162',
 'day_163',
 'day_164',
 'day_165',
 'day_166',
 'day_167',
 'day_168',
 'day_169',
 'day_170',
 'day_171',
 'day_172',
 'day_173',
 'day_174',
 'day_175',
 'day_176',
 'day_177',
 'day_178',
 'day_179',
 'day_180',
 'day_181',
 'day_182',
 'day_183',
 'day_184',
 'day_185',
 'day_186',
 'day_187',
 'day_188',
 'day_189',
 'day_190',
 'day_191',
 'day_192',
 'day_193',
 'day_194',
 'day_195',
 'day_196',
 'day_197',
 'day_198',
 'day_199',
 'day_200',
 'day_201',
 'day_202',
 'day_203',
 'day_204',
 'day_205',
 'day_206',
 'day_207',
 'day_208',
 'day_209',
 'day_210',
 'day_211',
 'day_212',
 'day_213',
 'day_214',
 'day_215',
 'day_216',
 'day_217',
 'day_218',
 'day_219',
 'day_220',
 'day_221',
 'day_222',
 'day_223',
 'day_224',
 'day_225',
 'day_226',
 'day_227',
 'day_228',
 'day_229',
 'day_230',
 'day_231',
 'day_232',
 'day_233',
 'day_234',
 'day_235',
 'day_236',
 'day_237',
 'day_238',
 'day_239',
 'day_240',
 'day_241',
 'day_242',
 'day_243',
 'day_244',
 'day_245',
 'day_246',
 'day_247',
 'day_248',
 'day_249',
 'day_250',
 'day_251',
 'day_252',
 'day_253',
 'day_254',
 'day_255',
 'day_256',
 'day_257',
 'day_258',
 'day_259',
 'day_260',
 'day_261',
 'day_262',
 'day_263',
 'day_264',
 'day_265',
 'day_266',
 'day_267',
 'day_268',
 'day_269',
 'day_270',
 'day_271',
 'day_272',
 'day_273',
 'day_274',
 'day_275',
 'day_276',
 'day_277',
 'day_278',
 'day_279',
 'day_280',
 'day_281',
 'day_282',
 'day_283',
 'day_284',
 'day_285',
 'day_286',
 'day_287',
 'day_288',
 'day_289',
 'day_290',
 'day_291',
 'day_292',
 'day_293',
 'day_294',
 'day_295',
 'day_296',
 'day_297',
 'day_298',
 'day_299',
 'day_300',
 'day_301',
 'day_302',
 'day_303',
 'day_304',
 'day_305',
 'day_306',
 'day_307',
 'day_308',
 'day_309',
 'day_310',
 'day_311',
 'day_312',
 'day_313',
 'day_314',
 'day_315',
 'day_316',
 'day_317',
 'day_318',
 'day_319',
 'day_320',
 'day_321',
 'day_322',
 'day_323',
 'day_324',
 'day_325',
 'day_326',
 'day_327',
 'day_328',
 'day_329',
 'day_330',
 'day_331',
 'day_332',
 'day_333',
 'day_334',
 'day_335',
 'day_336',
 'day_337',
 'day_338',
 'day_339',
 'day_340',
 'day_341',
 'day_342',
 'day_343',
 'day_344',
 'day_345',
 'day_346',
 'day_347',
 'day_348',
 'day_349',
 'day_350',
 'day_351',
 'day_352',
 'day_353',
 'day_354',
 'day_355',
 'day_356',
 'day_357',
 'day_358',
 'day_359',
 'day_360',
 'day_361',
 'day_362',
 'day_363',
 'day_364',
 'day_365',
 'day_366',
 'day_367',
 'day_368',
 'day_369',
 'day_370',
 'day_371',
 'day_372',
 'day_373',
 'day_374',
 'day_375',
 'day_376',
 'day_377',
 'day_378',
 'day_379',
 'day_380',
 'day_381',
 'day_382',
 'day_383',
 'day_384',
 'day_385',
 'day_386',
 'day_387',
 'day_388',
 'day_389',
 'day_390',
 'day_391',
 'day_392',
 'day_393',
 'day_394',
 'day_395',
 'day_396',
 'day_397',
 'day_398',
 'day_399',
 'day_400',
 'day_401',
 'day_402',
 'day_403',
 'day_404',
 'day_405',
 'day_406',
 'day_407',
 'day_408',
 'day_409',
 'day_410',
 'day_411',
 'day_412',
 'day_413',
 'day_414',
 'day_415',
 'day_416',
 'day_417',
 'day_418',
 'day_419',
 'day_420',
 'day_421',
 'day_422',
 'day_423',
 'day_424',
 'day_425',
 'day_426',
 'day_427',
 'day_428',
 'day_429',
 'day_430',
 'day_431',
 'day_432',
 'day_433',
 'day_434',
 'day_435',
 'day_436',
 'day_437',
 'day_438',
 'day_439',
 'day_440',
 'day_441',
 'day_442',
 'day_443',
 'day_444',
 'day_445',
 'day_446',
 'day_447',
 'day_448',
 'day_449',
 'day_450',
 'day_451',
 'day_452',
 'day_453',
 'day_454',
 'day_455',
 'day_456',
 'day_457',
 'day_458',
 'day_459',
 'day_460',
 'day_461',
 'day_462',
 'day_463',
 'day_464',
 'day_465',
 'day_466',
 'day_467',
 'day_468',
 'day_469',
 'day_470',
 'day_471',
 'day_472',
 'day_473',
 'day_474',
 'day_475',
 'day_476',
 'day_477',
 'day_478',
 'day_479',
 'day_480',
 'day_481',
 'day_482',
 'day_483',
 'day_484',
 'day_485',
 'day_486',
 'day_487',
 'day_488',
 'day_489',
 'day_490',
 'day_491',
 'day_492',
 'day_493',
 'day_494',
 'day_495',
 'day_496',
 'day_497',
 'day_498',
 'day_499',
 'day_500',
 'day_501',
 'day_502',
 'day_503',
 'day_504',
 'day_505',
 'day_506',
 'day_507',
 'day_508',
 'day_509',
 'day_510',
 'day_511',
 'day_512',
 'day_513',
 'day_514',
 'day_515',
 'day_516',
 'day_517',
 'day_518',
 'day_519',
 'day_520',
 'day_521',
 'day_522',
 'day_523',
 'day_524',
 'day_525',
 'day_526',
 'day_527',
 'day_528',
 'day_529',
 'day_530',
 'day_531',
 'day_532',
 'day_533',
 'day_534',
 'day_535',
 'day_536',
 'day_537',
 'day_538',
 'day_539',
 'day_540',
 'day_541',
 'day_542',
 'day_543',
 'day_544',
 'day_545',
 'day_546',
 'day_547',
 'day_548',
 'day_549',
 'day_550',
 'day_551',
 'day_552',
 'day_553',
 'day_554',
 'day_555',
 'day_556',
 'day_557',
 'day_558',
 'day_559',
 'day_560',
 'day_561',
 'day_562',
 'day_563',
 'day_564',
 'day_565',
 'day_566',
 'day_567',
 'day_568',
 'day_569',
 'day_570',
 'day_571',
 'day_572',
 'day_573',
 'day_574',
 'day_575',
 'day_576',
 'day_577',
 'day_578',
 'day_579',
 'day_580',
 'day_581',
 'day_582',
 'day_583',
 'day_584',
 'day_585',
 'day_586',
 'day_587',
 'day_588',
 'day_589',
 'day_590',
 'day_591',
 'day_592',
 'day_593',
 'day_594',
 'day_595',
 'day_596',
 'day_597',
 'day_598',
 'day_599',
 'day_600',
 'day_601',
 'day_602',
 'day_603',
 'day_604',
 'day_605',
 'day_606',
 'day_607',
 'day_608',
 'day_609',
 'day_610',
 'day_611',
 'day_612',
 'day_613',
 'day_614',
 'day_615',
 'day_616',
 'day_617',
 'day_618',
 'day_619',
 'day_620',
 'day_621',
 'day_622',
 'day_623',
 'day_624',
 'day_625',
 'day_626',
 'day_627',
 'day_628',
 'day_629',
 'day_630',
 'day_631',
 'day_632',
 'day_633',
 'day_634',
 'day_635',
 'day_636',
 'day_637',
 'day_638',
 'day_639',
 'day_640',
 'day_641',
 'day_642',
 'day_643',
 'day_644',
 'day_645',
 'day_646',
 'day_647',
 'day_648',
 'day_649',
 'day_650',
 'day_651',
 'day_652',
 'day_653',
 'day_654',
 'day_655',
 'day_656',
 'day_657',
 'day_658',
 'day_659',
 'day_660',
 'day_661',
 'day_662',
 'day_663',
 'day_664',
 'day_665',
 'day_666',
 'day_667',
 'day_668',
 'day_669',
 'day_670',
 'day_671',
 'day_672',
 'day_673',
 'day_674',
 'day_675',
 'day_676',
 'day_677',
 'day_678',
 'day_679',
 'day_680',
 'day_681',
 'day_682',
 'day_683',
 'day_684',
 'day_685',
 'day_686',
 'day_687',
 'day_688',
 'day_689',
 'day_690',
 'day_691',
 'day_692',
 'day_693',
 'day_694',
 'day_695',
 'day_696',
 'day_697',
 'day_698',
 'day_699',
 'day_700',
 'day_701',
 'day_702',
 'day_703',
 'day_704',
 'day_705',
 'day_706',
 'day_707',
 'day_708',
 'day_709',
 'day_710',
 'day_711',
 'day_712',
 'day_713',
 'day_714',
 'day_715',
 'day_716',
 'day_717',
 'day_718',
 'day_719',
 'day_720',
 'day_721',
 'day_722',
 'day_723',
 'day_724',
 'day_725',
 'day_726',
 'day_727',
 'day_728',
 'day_729',
 'day_730',
 'day_731',
 'day_732',
 'day_733',
 'day_734',
 'day_735',
 'day_736',
 'day_737',
 'day_738',
 'day_739',
 'day_740',
 'day_741',
 'day_742',
 'day_743',
 'day_744',
 'day_745',
 'day_746',
 'day_747',
 'day_748',
 'day_749',
 'day_750',
 'day_751',
 'day_752',
 'day_753',
 'day_754',
 'day_755',
 'day_756',
 'day_757',
 'day_758',
 'day_759',
 'day_760',
 'day_761',
 'day_762',
 'day_763',
 'day_764',
 'day_765',
 'day_766',
 'day_767',
 'day_768',
 'day_769',
 'day_770',
 'day_771',
 'day_772',
 'day_773',
 'day_774',
 'day_775',
 'day_776',
 'day_777',
 'day_778',
 'day_779',
 'day_780',
 'day_781',
 'day_782',
 'day_783',
 'day_784',
 'day_785',
 'day_786',
 'day_787',
 'day_788',
 'day_789',
 'day_790',
 'day_791',
 'day_792',
 'day_793',
 'day_794',
 'day_795',
 'day_796',
 'day_797',
 'day_798',
 'day_799',
 'day_800',
 'day_801',
 'day_802',
 'day_803',
 'day_804',
 'day_805',
 'day_806',
 'day_807',
 'day_808',
 'day_809',
 'day_810',
 'day_811',
 'day_812',
 'day_813',
 'day_814',
 'day_815',
 'day_816',
 'day_817',
 'day_818',
 'day_819',
 'day_820',
 'day_821',
 'day_822',
 'day_823',
 'day_824',
 'day_825',
 'day_826',
 'day_827',
 'day_828',
 'day_829',
 'day_830',
 'day_831',
 'day_832',
 'day_833',
 'day_834',
 'day_835',
 'day_836',
 'day_837',
 'day_838',
 'day_839',
 'day_840',
 'day_841',
 'day_842',
 'day_843',
 'day_844',
 'day_845',
 'day_846',
 'day_847',
 'day_848',
 'day_849',
 'day_850',
 'day_851',
 'day_852',
 'day_853',
 'day_854',
 'day_855',
 'day_856',
 'day_857',
 'day_858',
 'day_859',
 'day_860',
 'day_861',
 'day_862',
 'day_863',
 'day_864',
 'day_865',
 'day_866',
 'day_867',
 'day_868',
 'day_869',
 'day_870',
 'day_871',
 'day_872',
 'day_873',
 'day_874',
 'day_875',
 'day_876',
 'day_877',
 'day_878',
 'day_879',
 'day_880',
 'day_881',
 'day_882',
 'day_883',
 'day_884',
 'day_885',
 'day_886',
 'day_887',
 'day_888',
 'day_889',
 'day_890',
 'day_891',
 'day_892',
 'day_893',
 'day_894',
 'day_895',
 'day_896',
 'day_897',
 'day_898',
 'day_899',
 'day_900',
 'day_901',
 'day_902',
 'day_903',
 'day_904',
 'day_905',
 'day_906',
 'day_907',
 'day_908',
 'day_909',
 'day_910',
 'day_911',
 'day_912',
 'day_913',
 'day_914',
 'day_915',
 'day_916',
 'day_917',
 'day_918',
 'day_919',
 'day_920',
 'day_921',
 'day_922',
 'day_923',
 'day_924',
 'day_925',
 'day_926',
 'day_927',
 'day_928',
 'day_929',
 'day_930',
 'day_931',
 'day_932',
 'day_933',
 'day_934',
 'day_935',
 'day_936',
 'day_937',
 'day_938',
 'day_939',
 'day_940',
 'day_941',
 'day_942',
 'day_943',
 'day_944',
 'day_945',
 'day_946',
 'day_947',
 'day_948',
 'day_949',
 'day_950',
 'day_951',
 'day_952',
 'day_953',
 'day_954',
 'day_955',
 'day_956',
 'day_957',
 'day_958',
 'day_959',
 'day_960',
 'day_961',
 'day_962',
 'day_963',
 'day_964',
 'day_965',
 'day_966',
 'day_967',
 'day_968',
 'day_969',
 'day_970',
 'day_971',
 'day_972',
 'day_973',
 'day_974',
 'day_975',
 'day_976',
 'day_977',
 'day_978',
 'day_979',
 'day_980',
 'day_981',
 'day_982',
 'day_983',
 'day_984',
 'day_985',
 'day_986',
 'day_987',
 'day_988',
 'day_989',
 'day_990',
 'day_991',
 'day_992',
 'day_993',
 'day_994',
 'day_995',
 'day_996',
 'day_997',
 'day_998',
 ...]

In [32]:
big_boi.columns = column_names
big_boi

,ticker,day_0,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,...,day_1003,day_1004,day_1005,day_1006,day_1007,day_1008,day_1009,day_1010,day_1011,day_1012
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.0100,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.2750,54.5748
1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.8900,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.3800,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
4,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.0700,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.6900,113.9000
5,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.4900,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
6,BMRN,104.3600,104.4000,105.8300,105.9100,106.0200,106.3000,105.4400,102.8000,105.0200,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
7,INCY,113.7800,109.2100,110.2600,108.9800,109.9800,110.2700,108.2400,106.5000,102.1400,...,93.4300,90.8400,90.9000,92.0100,90.6800,90.4700,91.2000,89.1700,88.2700,87.7000
8,TECH,83.8159,85.2154,85.3011,86.6815,87.7763,87.4241,86.4816,84.7965,84.0635,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791
9,UTHR,158.4200,159.2800,159.1500,159.9900,161.8700,159.2600,157.7800,154.2300,156.3800,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
10,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
11,SRPT,37.9200,37.4800,38.3500,38.3100,37.8100,39.5000,38.5500,37.8500,38.2000,...,135.7900,130.6800,126.1900,126.3500,136.9900,135.7100,133.3900,133.0700,129.4500,127.6200
12,IONS,57.7600,58.1200,58.5000,59.7400,60.7700,60.6700,60.8100,61.0500,61.4700,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
13,EXEL,4.9900,5.0200,5.5000,5.2400,5.4700,5.6800,5.6500,5.5000,5.8200,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
14,HALO,16.9600,16.9000,17.0000,17.0000,17.1800,17.1200,17.2900,16.9300,16.6400,...,19.0600,18.9300,18.5200,18.4000,18.3000,18.3500,18.3800,18.2400,17.9600,17.7900
15,CYTK,10.8700,10.7300,10.8400,10.6300,10.4700,10.4200,10.4900,10.2200,10.0900,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
16,ASND,16.9000,17.1000,17.8000,17.9000,17.6000,17.6500,17.7900,18.0600,17.9300,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
17,GBT,30.6100,31.0300,33.1100,33.4300,33.0500,32.4100,31.2000,31.7800,29.2600,...,78.6800,73.0000,76.0700,76.0100,77.9600,80.6300,81.2900,82.0400,79.4700,78.9500
18,MRTX,32.7200,33.9800,33.4000,31.9900,31.1400,30.5300,30.5100,30.8300,29.3400,...,113.2500,116.3300,112.5500,116.3300,123.2500,128.1300,127.2700,128.3500,127.4300,127.9800
19,BPMC,24.9600,25.1800,25.4700,24.7700,24.1900,24.8500,24.8500,25.9900,24.4700,...,77.2000,76.2100,78.3800,78.0000,80.2900,82.0000,82.7800,82.5300,81.6000,80.5300
20,ARWR,6.0800,5.9900,6.0400,6.1800,6.2200,6.1800,6.1000,5.9700,5.9400,...,65.4400,65.3000,66.9000,67.8400,64.6500,63.6100,64.5500,67.1500,64.5000,63.9400
21,PTCT,33.3500,31.8700,33.4500,32.6900,32.5700,33.4600,32.6100,31.6000,31.0400,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
22,CCXI,7.7800,7.8900,7.9000,8.0900,8.2300,8.1900,8.0200,7.9500,7.1100,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
23,RARE,115.7900,114.0100,114.3300,112.6600,114.4500,116.3500,112.6400,108.8000,102.0000,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
24,GLPG,59.9900,60.6500,60.9700,61.4000,63.0000,63.4200,62.6800,61.5200,60.5500,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
25,INSM,18.0500,18.1900,18.2700,18.2600,18.1400,19.0000,18.6500,17.7100,17.3800,...,23.6200,23.6000,23.5800,23.9200,24.1000,24.6800,25.0300,24.5000,23.9000,23.2800
26,ACAD,33.7000,34.5100,34.8900,35.0000,35.4600,36.0000,35.6100,34.8400,34.6900,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
27,BCRX,10.8200,10.6900,10.7200,10.6100,10.7200,10.7600,10.4500,10.0700,9.8500,...,3.2200,3.2500,3.1700,3.2100,3.2000,3.0800,3.1600,3.1600,3.1100,3.2200
28,NVAX,174.0000,166.4000,167.8000,168.0000,167.0000,174.0000,166.6000,163.4000,158.4000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
29,AGIO,64.9300,61.9100,63.2800,65.5900,63.6900,67.0300,64.9200,63.5200,64.1100,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
30,KDNY,148.2500,135.0500,140.7000,141.0000,140.1500,144.1000,143.4000,135.5500,133.9500,...,5.6000,5.0500,5.2500,5.0000,5.0500,5.5000,6.0000,6.0000,5.9500,5.9000
31,ENTA,31.8100,32.3000,32.3200,32.1000,33.6000,33.6000,33.3900,32.4400,34.2200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
32,RGNX,18.2000,18.5700,18.7400,18.4700,17.9000,17.4800,17.1400,16.2400,17.0100,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
33,PRTA,71.2600,70.7200,70.4400,69.5000,69.5400,70.9000,69.2900,66.9200,62.4600,...,12.8200,12.8800,12.8300,13.3600,16.0100,17.0100,16.2500,16.8500,15.9500,15.6500
34,IMGN,13.7000,13.7100,13.6500,13.6700,13.5400,13.9700,13.6000,13.2700,12.8800,...,4.6300,4.6200,5.0300,5.7200,5.3000,5.4900,5.4600,5.8500,5.0900,5.0700
35,MDGL,11.5325,10.9760,12.2500,12.2500,12.2500,12.2500,12.2500,11.5500,11.3750,...,96.9200,94.4900,90.6700,89.2600,90.3500,93.1200,94.5700,95.7600,92.6900,89.8900
36,FGEN,30.0700,29.9600,30.9800,30.5300,30.3800,31.0400,31.0400,29.7900,30.6600,...,47.2700,47.2500,46.5400,46.4400,45.5200,45.0900,45.9000,46.7900,44.9500,43.1300
37,ISEE,78.2100,77.2500,78.9400,77.2400,78.2300,78.3000,77.6400,76.3700,73.2200,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
38,KURA,7.5700,7.3320,7.2200,7.0100,6.9600,7.2600,7.7500,8.5800,8.9000,...,14.8800,14.4300,13.8600,14.2100,14.2000,14.5200,14.6400,14.5400,14.3400,13.9800
39,QURE,17.0700,16.6900,16.9000,16.5100,15.7500,15.4200,15.9000,16.3400,15.9900,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
40,SGMO,9.3800,9.2800,9.3300,9.3500,9.2400,9.4200,9.3600,8.9200,8.9700,...,8.3700,8.2700,8.4300,8.6600,8.4200,8.9800,8.8300,8.5500,8.2900,8.1100
41,AVXL,7.5300,7.5200,7.4500,7.1000,5.9600,5.8900,5.0900,5.4900,6.1200,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
42,MCRB,38.0000,36.8500,35.5500,35.1600,35.2700,36.9400,35.1100,33.7000,34.2800,...,4.4200,4.4400,4.3100,4.3100,4.1100,4.2400,4.3600,4.0500,3.9600,3.6400
43,ICPT,162.7800,155.7700,155.6700,154.0000,154.2900,153.5400,149.0600,146.0900,147.5600,...,118.8900,120.0500,119.4500,119.1500,120.5000,124.0000,124.0200,123.2400,123.0000,123.0000
44,BLUE,38.6937,38.4014,38.6042,39.2606,39.5828,39.4694,38.5386,37.4825,37.9121,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
45,CDXS,3.9400,3.9400,3.9600,3.9900,4.0300,4.0400,4.1000,4.1500,4.2300,...,15.8900,16.1200,16.1000,16.5300,16.7200,17.0000,17.0000,16.8900,17.1200,16.0300
46,KPTI,13.8200,14.1800,14.2000,13.7800,13.9400,13.6800,13.3500,13.0700,13.4700,...,17.0100,17.1900,18.1900,18.5000,18.3300,19.1900,19.5000,20.0000,19.2500,18.8300
47,VYGR,21.3100,21.0900,20.5100,20.8600,20.9500,23.0000,23.1100,21.7000,21.0800,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
49,KMPH,301.9200,284.8880,298.7200,305.6000,311.2000,313.4400,304.3200,315.5200,296.0000,...,6.7200,6.6864,5.7600,5.4400,4.9408,4.9600,4.9600,5.8400,7.3600,6.8000

In [33]:
big_boi.to_csv('biotech_50.csv')

# Splitting data
We  need to save about 60 days worth of data for ourselves

In [49]:
last_day_id = 1012
col_names = ['ticker']
for i in range(last_day_id-61, last_day_id, 1):
    col_name = f'day_{i}'
    col_names.append(col_name)

In [51]:
testing_set = big_boi[col_names]
testing_set.to_csv('testing_set.csv')

In [52]:
last_day_id = 1012 - 61
col_names = ['ticker']
for i in range(0, last_day_id, 1):
    col_name = f'day_{i}'
    col_names.append(col_name)

In [55]:
training_set = big_boi[col_names]
training_set.to_csv('opening_prices_biotech.csv')