# Introduction

This  notebook is meant to be a starting point for teams competing in Bot Xchange in ShriTeq 2022. It will help you:

- Get started with processing the data

- Learn how to reshape the time series data into something you can use for your mode

- Get started with a rudimentary RandomForestRegressor model to predict stock prices

To use this notebook:

1. Click the three dots at the top right of this page

undefined. Click 'Download'. This will download this notebook and all project files to your local filesystem

# Data processing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('opening_prices_biotech.csv')
df.head()

,ticker,day_0,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,...,day_941,day_942,day_943,day_944,day_945,day_946,day_947,day_948,day_949,day_950
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.01,...,48.9641,49.0019,50.4401,49.9102,49.9291,49.7021,48.9735,48.7938,48.2923,47.4123
1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.89,...,174.4800,177.0100,178.2300,176.3200,172.3100,172.0500,170.2900,169.5500,169.2400,167.6900
2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.38,...,284.6600,288.7500,297.3600,295.0200,290.2100,287.7000,280.4500,275.3000,277.2700,275.3100
3,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.07,...,73.0200,73.1500,73.8100,75.0700,73.0800,73.8200,76.7000,79.1700,85.6000,85.2600
4,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.49,...,85.8400,84.9000,86.6900,85.1800,83.0400,83.6300,80.1300,81.1000,80.0700,74.1500

For our model that predicts the next opening price of a stock, we'll take the last _n_ days' prices as input data. We will set n = 50 for this notebook, but **we encourage you to experiment** with what number of features work. 

We will also take all-time historical data, such as the standard deviation, historical highs and lows, as well as the mean value of the stock.

In [3]:
# Only do this if you're using sets of 50
df.drop('day_0', axis=1, inplace=True)
df.head()

,ticker,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,...,day_941,day_942,day_943,day_944,day_945,day_946,day_947,day_948,day_949,day_950
0,NVO,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.01,49.2164,...,48.9641,49.0019,50.4401,49.9102,49.9291,49.7021,48.9735,48.7938,48.2923,47.4123
1,VRTX,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.89,120.8000,...,174.4800,177.0100,178.2300,176.3200,172.3100,172.0500,170.2900,169.5500,169.2400,167.6900
2,REGN,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.38,499.0000,...,284.6600,288.7500,297.3600,295.0200,290.2100,287.7000,280.4500,275.3000,277.2700,275.3100
3,SGEN,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.07,41.8400,...,73.0200,73.1500,73.8100,75.0700,73.0800,73.8200,76.7000,79.1700,85.6000,85.2600
4,ALNY,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.49,92.7600,...,85.8400,84.9000,86.6900,85.1800,83.0400,83.6300,80.1300,81.1000,80.0700,74.1500

## Constants

In [4]:
NUM_STOCKS = len(df)
print(f'Number of stocks in DataFrame: {NUM_STOCKS}')

Number of stocks in DataFrame: 48

In [5]:
ORIGINAL_NUM_DAYS = len(df.iloc[0])
print(f'Original number of days for which we have price data for each ticker: {ORIGINAL_NUM_DAYS}')

Original number of days for which we have price data for each ticker: 951

In [6]:
DAYS_PER_BATCH = 50
print(f'Numbers of days for which we have price data in one division of the original data: {DAYS_PER_BATCH}')

Numbers of days for which we have price data in one division of the original data: 50

## Creating the new DataFrame

In [7]:
# Save the tickers before dropping it
tickers = df['ticker']
df = df.drop('ticker', axis = 1)

# Now that the dataframe is numerical only, we can easily compute the following
df['mean'] = df.mean(axis=1)
df['std'] = df.std(axis=1)
df['min'] = df.min(axis=1)
df['max'] = df.max(axis=1)
df['ticker'] = tickers
df.head()

,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,...,day_946,day_947,day_948,day_949,day_950,mean,std,min,max,ticker
0,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.01,49.2164,48.3968,...,49.7021,48.9735,48.7938,48.2923,47.4123,43.041980,5.792453,5.792453,53.2909,NVO
1,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.89,120.8000,119.0100,...,172.0500,170.2900,169.5500,169.2400,167.6900,137.722917,38.664037,38.664037,194.6700,VRTX
2,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.38,499.0000,510.5000,...,287.7000,280.4500,275.3000,277.2700,275.3100,381.977832,53.964763,53.964763,550.5400,REGN
3,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.07,41.8400,39.4200,...,73.8200,76.7000,79.1700,85.6000,85.2600,58.427116,12.564510,12.564510,85.6000,SGEN
4,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.49,92.7600,87.3900,...,83.6300,80.1300,81.1000,80.0700,74.1500,80.599735,25.244504,25.244504,147.8900,ALNY

In [8]:
new_col_names = ['ticker', 'std', 'min', 'max', 'mean']

for i in range(1, DAYS_PER_BATCH + 1, 1):
    col_name = 'price_' + str(i)
    new_col_names.append(col_name)

In [9]:
# Create an empty DataFrame with these column headings
new = pd.DataFrame(columns=new_col_names)
new.head()

Empty DataFrame
Columns: [ticker, std, min, max, mean, price_1, price_2, price_3, price_4, price_5, price_6, price_7, price_8, price_9, price_10, price_11, price_12, price_13, price_14, price_15, price_16, price_17, price_18, price_19, price_20, price_21, price_22, price_23, price_24, price_25, price_26, price_27, price_28, price_29, price_30, price_31, price_32, price_33, price_34, price_35, price_36, price_37, price_38, price_39, price_40, price_41, price_42, price_43, price_44, price_45, price_46, price_47, price_48, price_49, price_50]
Index: []

[0 rows x 55 columns]

In [10]:
for i in range(1, DAYS_PER_BATCH + 1, 1):
    dfs = []
    original_cols = [f'day_{j}' for j in range(i, ORIGINAL_NUM_DAYS, 50)]
    for name in original_cols:
        dfs.append(df[name])

    combined = pd.concat(dfs, ignore_index=True).reindex()
    new[f'price_{i}'] = combined

In [11]:
new.head()

,ticker,std,min,max,mean,price_1,price_2,price_3,price_4,price_5,...,price_41,price_42,price_43,price_44,price_45,price_46,price_47,price_48,price_49,price_50
0,NaN,NaN,NaN,NaN,NaN,49.5701,49.7771,50.2947,50.4069,50.6312,...,45.1445,43.5744,44.6355,45.0323,44.8253,45.1445,45.4723,44.6527,48.6384,48.5348
1,NaN,NaN,NaN,NaN,NaN,123.9200,124.3800,123.9900,124.9700,127.6800,...,88.0600,84.1200,87.3300,86.4400,86.8300,86.1300,88.9400,92.2500,89.9100,87.3600
2,NaN,NaN,NaN,NaN,NaN,531.0600,535.5600,536.4500,542.2800,550.5400,...,392.0000,383.6900,396.3600,396.9200,396.2400,387.8600,410.0000,406.2300,404.5500,401.7900
3,NaN,NaN,NaN,NaN,NaN,42.7300,43.7100,43.7000,44.5100,45.3000,...,30.5300,29.2000,30.1200,30.4500,30.9500,30.2800,31.8600,32.5300,31.7300,32.4600
4,NaN,NaN,NaN,NaN,NaN,87.2400,91.2900,90.1600,92.4900,93.4800,...,62.0500,58.7400,58.9600,57.7200,58.0000,59.4900,59.9200,62.3300,60.6600,58.9900

In [12]:
NUM_ENTRIES = len(new)
print(NUM_ENTRIES)

912

In [13]:
means = stds = min_vals = max_vals = tickers = np.zeros(NUM_ENTRIES)
tickers = list(map(str, tickers))

"""
The new dataframe consists of 912 rows. They are ordered in 19 sets of 48 each. 
This means that the 0th value and 48th value both point to the same stock
"""

for i in range(NUM_STOCKS):
    row = df.iloc[i]
    mean = row['mean']
    std = row['std']
    min_val = row['min']
    max_val = row['max']
    ticker = row['ticker']

In [14]:
for i in range(0, 48, 1):
    row = df.iloc[i]
    mean = row['mean']
    std = row['std']
    min_val = row['min']
    max_val = row['max']
    ticker = row['ticker']
    for j in range(i, 912, 48):
        means[j] = mean
        stds[j] = std
        min_vals[j] = min_val
        max_vals[j] = max_val
        tickers[j] = ticker

In [15]:
new['mean'] = means
new['std'] = stds
new['min'] = min_vals
new['max'] = max_vals
new['ticker'] = tickers

In [16]:
new.head(50)

,ticker,std,min,max,mean,price_1,price_2,price_3,price_4,price_5,...,price_41,price_42,price_43,price_44,price_45,price_46,price_47,price_48,price_49,price_50
0,NVO,53.2909,53.2909,53.2909,53.2909,49.5701,49.7771,50.2947,50.4069,50.6312,...,45.1445,43.5744,44.6355,45.0323,44.8253,45.1445,45.4723,44.6527,48.6384,48.5348
1,VRTX,194.6700,194.6700,194.6700,194.6700,123.9200,124.3800,123.9900,124.9700,127.6800,...,88.0600,84.1200,87.3300,86.4400,86.8300,86.1300,88.9400,92.2500,89.9100,87.3600
2,REGN,550.5400,550.5400,550.5400,550.5400,531.0600,535.5600,536.4500,542.2800,550.5400,...,392.0000,383.6900,396.3600,396.9200,396.2400,387.8600,410.0000,406.2300,404.5500,401.7900
3,SGEN,85.6000,85.6000,85.6000,85.6000,42.7300,43.7100,43.7000,44.5100,45.3000,...,30.5300,29.2000,30.1200,30.4500,30.9500,30.2800,31.8600,32.5300,31.7300,32.4600
4,ALNY,147.8900,147.8900,147.8900,147.8900,87.2400,91.2900,90.1600,92.4900,93.4800,...,62.0500,58.7400,58.9600,57.7200,58.0000,59.4900,59.9200,62.3300,60.6600,58.9900
5,BMRN,106.3000,106.3000,106.3000,106.3000,104.4000,105.8300,105.9100,106.0200,106.3000,...,78.1100,74.3100,76.9200,76.6400,80.7500,82.5000,87.4400,88.9100,89.7300,87.7000
6,INCY,151.6900,151.6900,151.6900,151.6900,109.2100,110.2600,108.9800,109.9800,110.2700,...,73.4700,71.2900,74.0000,75.0000,74.7600,74.0100,74.7900,74.0000,73.5100,71.6400
7,TECH,212.8470,212.8470,212.8470,212.8470,85.2154,85.3011,86.6815,87.7763,87.4241,...,84.3325,82.0582,83.0329,83.6540,82.9182,82.3544,85.6226,86.1291,87.2471,87.8683
8,UTHR,169.3100,169.3100,169.3100,169.3100,159.2800,159.1500,159.9900,161.8700,159.2600,...,128.2000,126.2600,128.7500,125.8300,123.0100,122.1400,126.9400,128.4800,126.0000,127.0000
9,JAZZ,183.4900,183.4900,183.4900,183.4900,144.1500,144.2400,141.7800,142.6500,142.5600,...,124.9600,120.0000,121.9200,124.7200,123.4800,121.4200,123.4000,124.9200,125.4400,122.7800
10,SRPT,164.5000,164.5000,164.5000,164.5000,37.4800,38.3500,38.3100,37.8100,39.5000,...,15.2500,14.0800,14.4000,14.0500,13.2100,13.7500,13.4500,14.2000,14.3300,14.1900
11,IONS,85.5700,85.5700,85.5700,85.5700,58.1200,58.5000,59.7400,60.7700,60.6700,...,36.6400,34.4100,35.0000,34.0000,33.5600,34.5500,35.6600,37.9300,37.7400,39.7400
12,EXEL,32.2000,32.2000,32.2000,32.2000,5.0200,5.5000,5.2400,5.4700,5.6800,...,4.0300,3.8000,3.8700,3.8200,3.8200,4.2300,3.9100,3.8500,3.9600,4.0600
13,HALO,21.2000,21.2000,21.2000,21.2000,16.9000,17.0000,17.0000,17.1800,17.1200,...,8.0900,7.6300,7.9900,7.9100,8.2300,8.7200,8.7300,9.4700,9.4500,9.4600
14,CYTK,16.9500,16.9500,16.9500,16.9500,10.7300,10.8400,10.6300,10.4700,10.4200,...,6.7100,6.5800,6.6600,6.6500,6.8100,6.3200,6.3500,6.5800,6.5200,6.2300
15,ASND,131.9300,131.9300,131.9300,131.9300,17.1000,17.8000,17.9000,17.6000,17.6500,...,18.5700,18.5900,18.0400,18.0000,17.8900,17.4900,16.8500,16.6200,17.2700,17.7500
16,GBT,66.2500,66.2500,66.2500,66.2500,31.0300,33.1100,33.4300,33.0500,32.4100,...,16.0500,15.3000,15.1000,15.0300,14.8800,15.0800,14.7600,15.6200,16.0600,16.4100
17,MRTX,108.3700,108.3700,108.3700,108.3700,33.9800,33.4000,31.9900,31.1400,30.5300,...,23.6100,20.8000,21.8200,22.1900,22.0600,21.2500,22.9300,23.7400,23.1500,22.4100
18,BPMC,102.8400,102.8400,102.8400,102.8400,25.1800,25.4700,24.7700,24.1900,24.8500,...,17.8400,17.0700,17.1300,16.8900,18.0100,17.4000,19.0900,19.2100,18.0900,17.4700
19,ARWR,35.6100,35.6100,35.6100,35.6100,5.9900,6.0400,6.1800,6.2200,6.1800,...,4.0900,3.8700,3.8600,3.8900,3.9600,3.9000,4.1400,4.3800,4.2000,4.3200
20,PTCT,49.5400,49.5400,49.5400,49.5400,31.8700,33.4500,32.6900,32.5700,33.4600,...,16.1300,10.6100,10.9500,11.5100,7.9300,7.5600,5.7500,6.5500,6.1000,6.2400
21,CCXI,14.8500,14.8500,14.8500,14.8500,7.8900,7.9000,8.0900,8.2300,8.1900,...,3.5300,3.2700,3.4300,3.3400,3.3100,3.3500,3.4900,3.4900,3.4900,3.4400
22,RARE,116.3500,116.3500,116.3500,116.3500,114.0100,114.3300,112.6600,114.4500,116.3500,...,62.7400,60.0200,62.7000,60.5200,62.5600,61.6300,64.0000,67.7000,64.1700,62.2400
23,GLPG,190.9100,190.9100,190.9100,190.9100,60.6500,60.9700,61.4000,63.0000,63.4200,...,43.2100,39.8300,41.3300,42.2200,41.8400,42.8600,43.3700,43.5500,44.3100,43.9100
24,INSM,33.9400,33.9400,33.9400,33.9400,18.1900,18.2700,18.2600,18.1400,19.0000,...,13.1300,12.3100,12.4200,11.6300,12.3800,12.2800,11.7200,12.8600,12.5800,12.3900
25,ACAD,44.0000,44.0000,44.0000,44.0000,34.5100,34.8900,35.0000,35.4600,36.0000,...,19.9200,18.9300,19.1400,18.7200,18.7100,17.5000,19.2100,20.4800,21.5300,21.0400
26,BCRX,10.7600,10.7600,10.7600,10.7600,10.6900,10.7200,10.6100,10.7200,10.7600,...,2.0200,1.8200,1.8500,2.0300,2.1900,2.0100,2.1100,2.5000,2.6200,2.9800
27,NVAX,174.0000,174.0000,174.0000,174.0000,166.4000,167.8000,168.0000,167.0000,174.0000,...,100.2000,95.6000,95.6000,93.4000,93.2000,89.0000,94.2000,96.6000,96.6000,96.6000
28,AGIO,98.9000,98.9000,98.9000,98.9000,61.9100,63.2800,65.5900,63.6900,67.0300,...,38.9500,37.5200,38.2400,37.5000,39.5700,38.7700,43.0700,43.8800,42.9000,44.3100
29,KDNY,144.1000,144.1000,144.1000,144.1000,135.0500,140.7000,141.0000,140.1500,144.1000,...,72.8500,71.2500,73.2000,73.4000,76.0000,74.4500,82.1000,84.0000,83.9500,83.1500
30,ENTA,126.8600,126.8600,126.8600,126.8600,32.3000,32.3200,32.1000,33.6000,33.6000,...,29.2800,27.8100,28.5000,28.6400,28.1600,28.5100,29.6500,30.0900,29.4900,29.4800
31,RGNX,82.2000,82.2000,82.2000,82.2000,18.5700,18.7400,18.4700,17.9000,17.4800,...,13.2900,13.1100,13.1100,13.2300,13.2600,12.3600,12.5750,12.8500,12.6900,13.0100
32,PRTA,70.9000,70.9000,70.9000,70.9000,70.7200,70.4400,69.5000,69.5400,70.9000,...,34.6500,32.0400,34.4300,34.0700,34.6200,32.2400,34.2000,35.7800,36.0000,35.9400
33,IMGN,13.9700,13.9700,13.9700,13.9700,13.7100,13.6500,13.6700,13.5400,13.9700,...,7.5100,7.0700,7.3100,7.1600,7.2500,7.3400,7.5700,8.2800,8.1600,8.2500
34,MDGL,315.8200,315.8200,315.8200,315.8200,10.9760,12.2500,12.2500,12.2500,12.2500,...,8.0500,7.6790,7.6755,7.4550,8.0115,7.9450,7.7000,7.7000,9.2400,9.4500
35,FGEN,67.2500,67.2500,67.2500,67.2500,29.9600,30.9800,30.5300,30.3800,31.0400,...,19.3300,17.8900,18.8700,18.3300,18.6100,17.5700,17.9700,18.4300,18.7200,19.5100
36,ISEE,78.9400,78.9400,78.9400,78.9400,77.2500,78.9400,77.2400,78.2300,78.3000,...,48.1900,45.5600,47.4800,46.3600,46.5900,46.0100,46.6400,49.2100,46.0600,44.9700
37,KURA,23.4500,23.4500,23.4500,23.4500,7.3320,7.2200,7.0100,6.9600,7.2600,...,4.7800,4.5100,4.7200,4.8900,4.5301,4.1500,4.1800,4.2000,4.2600,4.6700
38,QURE,80.8600,80.8600,80.8600,80.8600,16.6900,16.9000,16.5100,15.7500,15.4200,...,15.4300,15.0000,15.0900,15.4000,14.4800,14.0900,14.6400,15.3800,14.6500,14.0200
39,SGMO,26.8500,26.8500,26.8500,26.8500,9.2800,9.3300,9.3500,9.2400,9.4200,...,5.6300,5.2000,5.3400,5.1600,5.4900,5.3100,5.4300,6.1200,5.9200,6.0400
40,AVXL,7.6500,7.6500,7.6500,7.6500,7.5200,7.4500,7.1000,5.9600,5.8900,...,3.9300,3.8900,4.1600,4.5000,4.5000,4.4500,4.4600,4.6000,4.8900,4.4500
41,MCRB,36.9400,36.9400,36.9400,36.9400,36.8500,35.5500,35.1600,35.2700,36.9400,...,24.2700,23.5300,24.9900,24.5100,24.9900,23.2500,23.5100,27.0000,27.0200,27.9300
42,ICPT,172.7800,172.7800,172.7800,172.7800,155.7700,155.6700,154.0000,154.2900,153.5400,...,118.0500,115.7100,113.0500,113.1800,113.2100,111.9400,121.7200,119.1200,125.4600,125.3200
43,BLUE,139.5898,139.5898,139.5898,139.5898,38.4014,38.6042,39.2606,39.5828,39.4694,...,31.6113,30.2509,30.4478,28.9442,29.3738,27.9955,29.9884,32.1125,32.7152,32.6316
44,CDXS,22.5800,22.5800,22.5800,22.5800,3.9400,3.9600,3.9900,4.0300,4.0400,...,4.1500,4.1200,4.1000,4.0700,4.0700,4.0500,4.0100,3.8900,3.6200,3.6900
45,KPTI,21.2500,21.2500,21.2500,21.2500,14.1800,14.2000,13.7800,13.9400,13.6800,...,6.1600,5.7200,5.9000,5.8500,6.1000,5.9400,6.4200,6.9000,7.4600,7.8000
46,VYGR,31.2600,31.2600,31.2600,31.2600,21.0900,20.5100,20.8600,20.9500,23.0000,...,9.7600,9.8200,9.9300,10.3500,9.9400,9.5100,8.4800,9.2000,9.9900,9.2400
47,KMPH,315.5200,315.5200,315.5200,315.5200,284.8880,298.7200,305.6000,311.2000,313.4400,...,261.2800,271.0400,274.2400,273.2800,264.8000,265.1200,260.0000,246.9760,251.2000,235.3600
48,NVO,53.2909,53.2909,53.2909,53.2909,48.3192,48.1380,48.4831,48.5952,49.4148,...,47.6834,47.3059,46.5774,48.2013,48.2189,48.0872,48.1750,47.3937,47.4113,47.6395
49,VRTX,194.6700,194.6700,194.6700,194.6700,90.6300,87.4500,85.1600,83.8200,86.1100,...,81.9800,81.4100,83.2300,85.5400,88.5800,88.9600,84.2400,81.7900,81.6400,81.4600

As we can see, we have the same metadata for rows 0 and 1 as we do for 48 and 49 respectively.

## Preparing data for ML

### Establishing variables

We first need to establish input feature names and the name of the output feature. Here, we'll use every feature apart from the 50th day's price as the target feature, i.e, the 50th day's price is our y-variable.

In [17]:
inp_features = new_col_names[1:-1]
X = new[inp_features]
X.head()

,std,min,max,mean,price_1,price_2,price_3,price_4,price_5,price_6,...,price_40,price_41,price_42,price_43,price_44,price_45,price_46,price_47,price_48,price_49
0,53.2909,53.2909,53.2909,53.2909,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,...,44.1869,45.1445,43.5744,44.6355,45.0323,44.8253,45.1445,45.4723,44.6527,48.6384
1,194.6700,194.6700,194.6700,194.6700,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,...,89.4100,88.0600,84.1200,87.3300,86.4400,86.8300,86.1300,88.9400,92.2500,89.9100
2,550.5400,550.5400,550.5400,550.5400,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,...,399.0500,392.0000,383.6900,396.3600,396.9200,396.2400,387.8600,410.0000,406.2300,404.5500
3,85.6000,85.6000,85.6000,85.6000,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,...,30.7100,30.5300,29.2000,30.1200,30.4500,30.9500,30.2800,31.8600,32.5300,31.7300
4,147.8900,147.8900,147.8900,147.8900,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,...,64.5200,62.0500,58.7400,58.9600,57.7200,58.0000,59.4900,59.9200,62.3300,60.6600

In [18]:
target_feature = new_col_names[-1]
y = new[target_feature]
y

0       48.5348
1       87.3600
2      401.7900
3       32.4600
4       58.9900
         ...
907     51.4146
908     13.0000
909      9.0800
910     15.7900
911     10.3984
Name: price_50, Length: 912, dtype: float64

### Training-Testing Split
For this notebook, we're just splitting data into training and testing. You might want to create a validation set as well.

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

Let's save this in case we want to come back later

In [20]:
X_train.to_csv('X_train.csv')
X_test.to_csv('X_test.csv')
y_train.to_csv('y_train.csv')
y_test.to_csv('y_test.csv')

# Creating the model

## Random forest model

We will be using a simple random forest model for demonstation purposes in this notebook. **You should not use this simple of a model in the competition**. As you will see, it will not achieve ideal performance. This will put your models at a competitive disadvantage when predicting prices.

In [21]:
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

In [49]:
model = RandomForestRegressor(n_estimators=100, random_state=0, n_jobs=10)
model.fit(X_train, y_train)

RandomForestRegressor(n_jobs=10, random_state=0)

In [50]:
y_pred = model.predict(X_test)

In [51]:
X_test

,std,min,max,mean,price_1,price_2,price_3,price_4,price_5,price_6,...,price_40,price_41,price_42,price_43,price_44,price_45,price_46,price_47,price_48,price_49
191,315.52,315.52,315.52,315.52,62.64,68.00,68.96,65.44,66.40,66.40,...,71.8864,71.3952,70.24,71.20,71.84,72.48,69.60,71.52,72.00,72.80
832,66.25,66.25,66.25,66.25,57.49,55.19,57.00,58.19,60.50,58.00,...,53.8700,56.3200,56.48,55.98,57.28,58.15,55.66,56.59,57.52,55.59
111,131.93,131.93,131.93,131.93,14.67,14.87,13.96,14.00,14.06,13.96,...,12.6111,12.8600,12.94,12.84,12.90,13.21,13.24,12.85,12.89,13.00
262,116.35,116.35,116.35,116.35,72.08,73.11,72.48,71.22,74.27,74.02,...,77.5800,78.2500,77.23,77.00,78.29,75.90,77.55,84.65,86.93,89.00
670,31.26,31.26,31.26,31.26,18.62,18.55,19.10,18.52,18.40,18.77,...,18.1000,18.1300,18.45,18.36,18.20,18.35,18.58,18.72,18.90,18.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,85.60,85.60,85.60,85.60,68.62,67.04,67.21,67.43,67.24,68.00,...,68.7500,67.8000,63.64,62.90,63.92,61.62,60.52,61.54,62.74,62.23
121,44.00,44.00,44.00,44.00,31.44,32.27,32.98,33.98,34.53,35.28,...,33.3100,32.7200,33.00,33.16,33.18,35.60,36.35,36.63,36.13,36.92
772,147.89,147.89,147.89,147.89,85.71,86.05,88.16,85.46,85.15,82.77,...,87.9500,86.9800,88.50,91.89,84.25,79.80,75.05,73.44,70.57,69.40
108,32.20,32.20,32.20,32.20,5.24,5.35,5.39,5.81,6.10,6.20,...,8.1100,8.2900,8.36,8.35,8.36,8.56,8.67,8.68,8.69,8.66
238,31.26,31.26,31.26,31.26,11.70,12.50,11.92,11.19,11.13,11.01,...,13.5500,14.2000,13.91,17.50,15.25,14.25,13.59,13.69,14.02,14.77

In [52]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1.4751459180327833
Mean Squared Error: 7.423541472927261
Root Mean Squared Error: 2.7246176746338673

## Custom Evaluation functions
These will help us better contextualise our predictions in the context of the dataset

MAPE: https://en.wikipedia.org/wiki/Mean_absolute_percentage_error

WMAPE: https://en.wikipedia.org/wiki/WMAPE

In [53]:
def mape(y_true, y_pred):
    ape = np.abs((y_true - y_pred) / y_true)
    ape[~np.isfinite(ape)] = 1. # pessimist estimate
    return np.mean(ape)

def wmape(y_true, y_pred):
    return np.sum(np.abs(y_true - y_pred)) / np.sum(np.abs(y_true))

In [54]:
mape(y_test, y_pred)

0.030365772004431486

In [55]:
wmape(y_test, y_pred)

0.025936339222233453

# What's next?
Your job: Create a model that does the best possible job of predicting the next day's stock price based on historical data for that stock.
Explore:
- Creating training data in a different fashion
- New features
- Alternative algorithsm and models, such as neural networks
- Changing the hyperparameters on the random forest

**Remember what your algorithm will be fed and craft input features around that.**
Your algorithm will be given all-time historical data for each stock (as was the case in the original DataFrame here).  From there, you can choose how many days' data to use, what statistical features to extract, etc.

**Good luck!**

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=86376c80-cc11-49b3-a94a-d3d931acdd32' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>

## Saving the model

In [56]:
import pickle

In [57]:
# Save the model
filename = 'model.sav'
pickle.dump(model, open(filename, 'wb'))

## Load the model

In [58]:
model = pickle.load(open(filename, 'rb'))
model

RandomForestRegressor(n_jobs=10, random_state=0)